[2015-05-12 07:00] shakeelmohamed opened #1 "YouTube playlists"
Things to investigate:

- What does a playlist URL look like?
- What does an embedded playlist look like?
- How does the YouTube iframe API work w/ playlists?

[2015-05-12 07:03] shakeelmohamed opened #2 "Add support for Soundcloud"
I've been thinking about how we can implement Soundcloud support as seamlessly as possible. @monicacheung did a ton of great work in getting this process started, but I think the next step is **breaking out Soundcloud support into it's own repo**.
- I've created a new repo: [zen-audio-player/soundcloud](https://github.com/zen-audio-player/soundcloud)
- The beauty of GitHub Pages allows us to have

[2015-05-12 07:04] shakeelmohamed opened #3 "Command Line function"
This becomes significantly more useful with a CLI, **which will need to become it's own repository**...

Ex: `zenyoutube https://youtube.com/...`

The tricky part is escaping slashes... maybe try quoted URLs
Ex:
[code]
Example of what works on OS X - at least with oh-my-zsh, the URL is automatically decoded when pasted:
[code]

maybe just make a node package

[2015-05-12 07:04] shakeelmohamed opened #4 "Improve GA event logging"
Try to log GA events for errors, video titles, sizes, channels, categories, etc.

[2015-05-12 07:05] shakeelmohamed opened #5 "Display unsupported message for non-Android mobile users"
TODO:

- [x] Try to get the best possible functionality on Android, autoplay will not work, by design.
- [ ] On iOS, and other mobile user agents display a message saying we don't support mobile browsers - since iOS will show videos in full screen, by design. see comments in #38

Major bugs on Android

![screenshot_2015-05-11-07-57-32](https://cloud.githubusercontent.com/assets/1480063/7579916/1c9

[2015-05-12 07:08] shakeelmohamed opened #6 "Actual tests"
The next tests need to be sending many different URL forms & user behaviors validating the JS object player which represents the YouTube player object that gets embedded and determine if the video is playing, also lots of error checking tests.

[2015-05-12 07:09] shakeelmohamed opened #7 "Hubot plugin"
Should make a new repo...  Based off of the youtube one: https://gist.github.com/shakeelmohamed/46d1d2bcbcb8adcc8171

[2015-05-12 07:11] shakeelmohamed opened #8 "Use GitHub's Primer CSS library"
The lib is at http://primercss.io/

[2015-05-12 07:12] shakeelmohamed opened #9 "YouTube search"
Just need to retrieve results from the API, and hide any images - then make the links do some cool redirection to Zen Audio Player by passing the YouTube video URL as a querystring parameter.

[2015-05-12 07:59] shakeelmohamed opened #10 "Add different logo sizes & favicon.ico"
The logo is ironically too large & distracting in the readme

[2015-05-13 01:40] shakeelmohamed opened #12 "Create new GA property/account"
Don't want to clump data with my personal domain

[2015-05-13 05:09] shakeelmohamed opened #13 "Add screenshots to readme"

[2015-05-13 22:02] shakeelmohamed opened #14 "Fix Travis CI config"
Then reopen #11

[2015-05-14 02:42] #14 closed

[2015-05-14 05:05] #12 closed

[2015-05-14 05:20] #4 closed

[2015-05-14 05:47] shakeelmohamed opened #15 "Update the chrome extension"
Need to do several things for the chrome extension.

See this milestone for details: https://github.com/shakeelmohamed/zen-youtube-chrome/milestones/Gotta%20get%20these%20things%20done

[2015-05-14 05:58] shakeelmohamed opened #16 "Add a tweet button"
Have it ready w/ a prepopulated tweet and `#ZenAudioPlayer`

[2015-05-14 14:53] shakeelmohamed opened #17 "Update copy w/ brief tagline of what this is"
Can be a really concise statement, but needs to be in the splash page

[2015-05-14 20:50] d6e opened #18 "ReferenceError in Firefox when clicking "submit query""
This is using firefox 38.0.
[code]

[2015-05-14 22:01] shakeelmohamed commented on #18
My guess is this is related to ES6, will dig into it some more

[2015-05-15 03:09] shakeelmohamed commented on #18
@paritybit what extensions do you have installed? The button works for me as expected on FF 38 OS X.

But I get these messages in the JS console:

[code]

[2015-05-18 02:06] d6e commented on #18
So I figured it out. Check this out:  https://developer.mozilla.org/en-US/docs/Security/MixedContent.
Disabling mixed content protection or not using https altogether fixes the problem. You can fix this by just switching everything to https.

[2015-05-18 03:28] shakeelmohamed commented on #18
@d6e cool! I'll try that at some point

[2015-05-18 05:31] shakeelmohamed opened #19 "Add support for Chrome last.fm scrobbler extension"
The extension is open source, just need to fork and make a PR. Can probably reuse the youtube script here: https://github.com/david-sabata/web-scrobbler/blob/947f46bb4e8155ed0f65c8a8c82f28c879286e91/connectors/v2/youtube.js

Also need to update this list: https://github.com/david-sabata/web-scrobbler/blob/947f46bb4e8155ed0f65c8a8c82f28c879286e91/core/connectors.js

[2015-05-18 05:33] shakeelmohamed opened #20 "Fix bug in demo link continuing concatenation"
If the demo link fails, meaning there's a problem with JS/YouTube's API, the URL ends up looking like http://zen-audio-player.github.io/?v=koJv-j1usoI?v=koJv-j1usoI or something really strange. Just need to do a simple indexOf() check somewhere - or improve error handling.. maybe needs a giant try/catch somewhere

[2015-05-18 07:27] shakeelmohamed commented on #18
FWIW I was able to repro you exact problem by going to https://zen-audio-player.github.io/ w/ https

[2015-05-18 07:30] shakeelmohamed commented on #18
@d6e looks fixed, now please confirm

[2015-05-18 18:08] d6e commented on #18
Fixed.

[2015-05-18 18:08] #18 closed

[2015-05-21 04:49] #20 closed

[2015-05-21 05:03] #10 closed

[2015-05-21 06:05] shakeelmohamed commented on #17
Will revisit this. Currently there's just a sentence "Listen to YouTube videos, without the distracting visuals."

![capturfiles_22](https://cloud.githubusercontent.com/assets/1480063/7742487/bd24f3d2-ff44-11e4-9218-ba7061af9332.png)

[2015-05-21 06:10] #13 closed

[2015-05-24 00:28] #17 closed

[2015-06-02 07:14] shakeelmohamed opened #25 "add contributing.md"

[2015-06-12 06:37] shakeelmohamed opened #26 "Migrate Google Analytics to Keen"
## Priority level 1
- [x] Create keen.io account
- [x] Have keen.io log as much data as GA has currently
- [x] Follow these guides: [media analytics](https://keen.io/guides/media-analytics/), [data enrichment](https://keen.io/docs/api/?javascript#data-enrichment), [data collection](https://keen.io/docs/data-collection/), [data analysis](https://keen.io/docs/data-analysis/)
- [x] Decide between [ke

[2015-06-18 00:08] shakeelmohamed opened #27 "Render video description too"
Can probably show it in a collapsed div, just like youtube does beneath the video. It probably need to be eval'd as HTML

[2015-06-22 17:59] shakeelmohamed opened #28 "Show link to original video URL"
for sharing

[2015-06-23 07:20] shakeelmohamed opened #29 "Move tests to PhantomJS"
There's some strange environment issues on Windows that require C++ compilers for the native compilation of the zombie dependency....

So, I think the best solution is to switch to [PhantomJS](http://phantomjs.org/), there's a [mocha test runner](http://metaskills.net/mocha-phantomjs/) that should be helpful also

[2015-06-23 07:35] shakeelmohamed commented on #8
Show errors with alerts

[2015-06-23 07:35] shakeelmohamed commented on #8
Update the screenshots once this is done

[2015-06-29 17:57] shakeelmohamed opened #30 "Handle Media Keys for play/pause"
Some discussion on how to do this, it's not going to be just JS though http://stackoverflow.com/questions/12672480/capture-mac-media-control-keys-in-a-chrome-extension

API docs: https://developer.chrome.com/extensions/commands

[2015-07-08 09:02] #28 closed

[2015-07-08 09:04] #8 closed

[2015-07-11 05:34] shakeelmohamed commented on #27
YouTube's iframe API doesn't have a hook for description, so this will require another HTTP request to a different API

[2015-07-15 16:57] shakeelmohamed commented on #1
This will be non-trivial: http://stackoverflow.com/questions/23286808/youtube-iframe-api-fails-load-or-cue-playlist

[2015-07-20 23:46] shakeelmohamed commented on #2
Test with this: Exclusive TomorrowWorld Mix: Shaq aka DJ Diesel by TomorrowWorld on SoundCloud - Hear the world’s sounds
https://m.soundcloud.com/tomorrowworld/exclusive-tomorrowworld-mix-shaq

[2015-07-24 06:30] shakeelmohamed commented on #29
TL;DR: this is an impossible mess.

[2015-07-24 06:30] #29 closed

[2015-07-24 06:36] shakeelmohamed commented on #25
done with 44e9eec9b893fe20104fcc9521dbcc07fc5ceb36

[2015-07-24 06:36] #25 closed

[2015-07-25 05:49] shakeelmohamed commented on #6
Once upon a time, using Zombie's `browser.evaluate("player")` would be useful, but there's a race condition where sometimes the player object isn't ready yet.

I've tried:

- Zombie's `browser.wait` with a timeout as high as 10 seconds
- `setTimeout` with a high timeout

No solution in sight, so test work is pretty much blocked by this issue

[2015-07-31 19:06] shakeelmohamed opened #32 "Get a cloudflare cert, and a domain name"
When/if this happens:

- [x] buy domain name
- [x] Create cloudflare account
- [x] Configure DNS
- [x] Setup CNAME file
- [x] Update all URLs in code
- [x] Update the [Chrome Last.fm extension](https://github.com/david-sabata/web-scrobbler) with the new URL - in progress: https://github.com/david-sabata/web-scrobbler/pull/909
- [x] Update the Chrome extension with the new URL - https://github.com/

[2015-08-13 20:35] shakeelmohamed opened #33 "Fix broken youtube UI"
The mini-player controls are no longer visible. The proper fix is implementing all of the buttons/controls using HTML buttons, then hide the video player entirely. Doing this would probably fix #5 also

![capturfiles_8](https://cloud.githubusercontent.com/assets/1480063/9261012/154c338c-41c0-11e5-80fa-7756717f9c0d.png)

Might need to pull in icons for play/pause/stop/etc buttons from another place

[2015-08-14 17:43] shakeelmohamed commented on #3
The open package works really well for this: https://www.npmjs.com/package/open

[2015-09-13 05:23] shakeelmohamed commented on #33
Made lots of progress on this, so far:

- [ ] a play/pause toggle button
- [ ] a show/hide player button.
- [ ] Next up are volume controls!

### Player hidden
![capturfiles_7](https://cloud.githubusercontent.com/assets/1480063/9835366/ad8881b6-599c-11e5-87fd-398e1c072536.png)

### Player shown
![capturfiles_8](https://cloud.githubusercontent.com/assets/1480063/9835365/ad8802b8-599c-11e5-9c5a-7cf8

[2015-09-13 05:36] shakeelmohamed commented on #5
The changes for #33 made in #34 make this almost work on Android!

Steps:

0. Tap the demo link
0. Tap show player
0. Tap pause/play
0. Tap hide player
0. Tap pause play
0. Listen!

![nbph7nsgzzhoyab1lnxkgqusvhcmzax0degsnttdniq](https://cloud.githubusercontent.com/assets/1480063/9835414/a03e05ce-599e-11e5-997e-e08c1ea4c3b9.png)

[2015-09-13 05:39] shakeelmohamed commented on #6
It seems like both `browser.evaluate()` and `browser.assert.global()` aren't working correctly. The tests will probably just need to look at the DOM for now

[2015-09-17 20:31] shakeelmohamed commented on #33
When the video is done, the play/pause button is still on pause. How should "replay" be handled?

[2015-09-26 23:17] shakeelmohamed commented on #33
All the way done now with #35 #36 & #37!

[2015-09-26 23:17] #33 closed

[2015-09-26 23:21] shakeelmohamed opened #38 "Safari bugs on iOS"
YouTube has a very aggressive iOS API, it forces the player to full screen mode!:

![capturfiles_18](https://cloud.githubusercontent.com/assets/1480063/10120326/709c123a-646a-11e5-9b62-1ee058a72792.png)

In Safari on OS X, the play/pause button doesn't update when playing
It might just be a race condition introduced by a3ec13f9d532dfdaa9d52e6845c5b1ecbb783969:

![capturfiles_19](https://cloud.gith

[2015-10-05 07:39] shakeelmohamed commented on #38
test

[2015-10-06 05:15] shakeelmohamed commented on #15
done!

[2015-10-06 05:15] #15 closed

[2015-10-09 02:24] shakeelmohamed opened #39 "Replay doesn't work"
When a video finishes, the play/pause button should return to play, then when play/pause is clicked it should restart the video.

[2015-10-09 21:29] #39 closed

[2015-10-09 21:59] BeigeBadger opened #41 "Play pause does not function/has incorrect state on refresh"
OS:
Windows 10 Professional

Browsers affected:
Chrome, Firefox (all that I tested)

How to repro:

Method 1
1. Load up the index page
2. Input a video id
3. Hit search.
4. Refresh the page

Method 2
1. Copy the URL from an already loaded page (do steps 1-3 above to get the URL)
2. Paste in a new tab/window.

Expected behaviour:
Pause button to be displayed and function correctly on page load when

[2015-10-09 22:13] shakeelmohamed commented on #41
I will test this on my Windows laptop tonight, not an issue in OS X

[2015-10-10 01:15] #16 closed

[2015-10-10 07:35] shakeelmohamed opened #42 "Demo link does nothing in Microsoft Edge or Internet Explorer"
Using Microsoft Edge, the demo link doesn't do anything. The URL clearly changes, but it just dies (could be a race condition with jQuery loading before the YouTube API). There are no JavaScript console errors.

edit: Non-Windows users can get free VMs from Microsoft's website! https://dev.windows.com/en-us/microsoft-edge/tools/vms/

![image](https://cloud.githubusercontent.com/assets/1480063/1040

[2015-10-10 07:36] shakeelmohamed commented on #41
I couldn't repro this on Windows 10 home, on the latest Chrome, Firefox, or Edge.

But... I discovered #42 in the process.

[2015-10-10 07:43] shakeelmohamed commented on #19
Fork is ready: https://github.com/zen-audio-player/web-scrobbler

[2015-10-10 08:50] BeigeBadger commented on #41
Hmmm weird... maybe  it's because I'm opening the index.html page through the file:// protocol.

[2015-10-10 21:23] shakeelmohamed commented on #41
Ah, I usually do development on my Mac so I haven't noticed this before.
I'm going to close this since it's only a development related issue.

Really weird stuff happens locally in Windows 10 home on Chrome...
![capture](https://cloud.githubusercontent.com/assets/1480063/10413342/5ce0d0b4-6f5a-11e5-9649-a78fdf2c30f1.PNG)

[2015-10-10 21:23] #41 closed

[2015-10-10 21:50] shakeelmohamed opened #43 "Remove # from URL if it ever exists"
A `#` in the URL breaks all functionality.

Repro:

1. Right click the demo link and copy it (ie: `http://zen-audio-player.github.io/#`)
2. Go to that URL
3. Click the demo link
4. You'll be at `http://zen-audio-player.github.io/#?v=koJv-j1usoI` but nothing will happen

:whale2:

[2015-10-11 00:47] shakeelmohamed commented on #19
All done! PR is here: https://github.com/david-sabata/web-scrobbler/pull/803

[2015-10-11 00:55] #43 closed

[2015-10-11 20:49] shakeelmohamed commented on #19
PR has been merged, just waiting on a release on their end :+1:

[2015-10-11 20:59] shakeelmohamed opened #47 "Add support for TrackJS, JavaScript error tracking"
They're willing to sponsor us since we're open source.

- [x] Create a trial account
- [x] Get a token
- [x] Add token
- [x] Add the dependency (`bower install --save trackjs`)
- [x] After 30 days if it's useful, email the team for an account upgrade

[2015-10-14 04:51] shakeelmohamed opened #48 "Add browser compatibility matrix"
* ~~First version could be generating it manually using [browser-badge](https://github.com/substack/browser-badge)~~ This is very broken, look at what it generated using their example matrix!
![foo](https://cloud.githubusercontent.com/assets/1480063/11205268/3a2f4824-8cbb-11e5-80b5-167d89bfe181.png)

* Second version could be writing tests ~~using [Testling](https://ci.testling.com/) for true CI,

[2015-10-14 05:05] shakeelmohamed opened #49 "Docs"
We basically have 0 docs right now, a wiki would be nice :smile:
Maybe we even make a separate repo just for docs? Then we can have zen-audio-player.github.io/docs be a valid URL

[2015-10-14 05:11] shakeelmohamed opened #50 "Retain current time through video on reload"
It sucks when you reload the page and the video/song starts over from the beginning. We can do this a few different ways: URL, cookies, or the super awesome HTML5 local storage API.

edit:

An implementation might look something like the following, but with functions doing the 2 tasks:

1. upsert the time in `window.sessionStorage`
2. restore the player time, via `player.seekTo()`

[code]

[2015-10-14 05:23] shakeelmohamed opened #51 "Logo"
Our current logo is... well it's just text and that's not an ideal logo, especially as a favicon.

I may do this myself, but I'm posting for visibility :eyes:

[2015-10-14 06:07] shakeelmohamed commented on #49
Created a wiki, and added a Use Cases page as a start - hopefully more research will lead to more insight!

[2015-10-17 21:34] shakeelmohamed commented on #26
This could be helpful: https://github.com/onefrankguy/frankmitchell.org/blob/master/drafts/replacing-google-analytics-with-keen-io.md

[2015-10-25 00:37] BeigeBadger commented on #42
I had a good crack at this one today but was unable to make any progress. I tried a few avenues:

1. Using the HTML5 History attribute in JS.
2. Setting the origin of the YT player as per http://stackoverflow.com/questions/20501010/youtube-api-onplayerready-not-firing.
3. Removing display: none and/or setting the player to display off the page as per http://stackoverflow.com/questions/17078094/you

[2015-10-27 02:44] shakeelmohamed commented on #42
Thanks for the effort on this @BeigeBadger! I will dig into this when I have some spare time

[2015-10-28 07:21] shakeelmohamed commented on #19
Released with david-sabata/web-scrobbler@9837a0eee5b0dd4e9a5bdc91e11ae7bbd3700542

[2015-10-28 07:21] #19 closed

[2015-10-31 03:09] BeigeBadger commented on #27
@shakeelmohamed you'll just need to change the YouTube Data API key to your own one. My key should work if you host it on a local webserver or on production though.

You can get your own key here: https://developers.google.com/youtube/v3/getting-started.

[2015-10-31 05:21] BeigeBadger commented on #50
I've been looking at the HTML5 local storage API and it looks pretty neat! Did we want to use local or session storage? I was leaning more towards session storage but though I'd better check with you first.

Info:

I'm also happy to write a URL fallback for the older browsers that don't support the local storage API... maybe we could use modernizr if you didn't mind bloating the project some more.

[2015-10-31 07:05] shakeelmohamed commented on #50
Right, session storage makes more sense in this case.

As for the older browsers, we don't need to worry about them IMO.
This is the matrix for [local storage](http://www.w3schools.com/HTML/html5_webstorage.asp) support & when it was added to the browsers:
![capturfiles_8](https://cloud.githubusercontent.com/assets/1480063/10862387/e88f01cc-7f62-11e5-87d3-0fd688234655.png)

Go for it @BeigeBadger!

[2015-10-31 07:33] shakeelmohamed commented on #27
Generated a browser API key, untested: AIzaSyCxVxsC5k46b8I-CLXlF3cZHjpiqP_myVk

[2015-11-05 22:58] shakeelmohamed opened #54 "Update tweet button's text"
Is it possible to dynamically change the tweet based on the YouTube video? The default message can be as is

ie: `I'm listening to XYZ on #ZenAudioPlayer`

[2015-11-06 18:11] shakeelmohamed opened #55 "Add a slider for time seek"
The only way to seek currently is to show the player and do it there. We already have a great slider for volume, we can steal most of that logic for this

[2015-11-11 07:41] shakeelmohamed commented on #54
Looks like Twitter has a JS library for this use case, see http://stackoverflow.com/a/9983963/2785681

[2015-11-13 19:38] shakeelmohamed opened #56 "Trim whitespace from both ends of the URL/video ID"
Currently, if the query is `   xyz` it will be redirected to `http://zen-audio-player.github.io/?v=%20%20%20xyz` which tries to parse `%20%20%20xyz` as the video ID, which is invalid.

[2015-11-14 07:40] #56 closed

[2015-11-20 08:59] shakeelmohamed commented on #26
Made the repo!

[2015-11-24 22:40] shakeelmohamed commented on #6
I think the only way past this blocker is to change to Zombie 4.x, thus forcing us to use Node.js 0.12+ which is pretty reasonable now that they're over 5.x

[2015-11-25 08:13] #54 closed

[2015-11-25 10:04] shakeelmohamed commented on #26
Made tons of progress on the feature/keen.io branch, sent their team a follow-up email for next steps :clock10:

[2015-11-25 10:08] shakeelmohamed commented on #26
The data we get into Keen for playing a video is roughly like so

[code]

[2015-11-25 16:36] shakeelmohamed opened #62 "Join up for grabs & create a first timers only label"
1. submit a PR here https://github.com/up-for-grabs/up-for-grabs.net
2. inspired by  https://github.com/formly-js/angular-formly/issues?utf8=%E2%9C%93&q=label%3Afirst-timers-only+

[2015-11-26 06:37] shakeelmohamed commented on #6
Updating Zombie to 4.x and Node.js to 4.x solves these problems!!!! :tada:

Now comes the hard part... writing tests

[2015-11-26 08:22] shakeelmohamed commented on #62
This is now blocked on https://github.com/up-for-grabs/up-for-grabs.net/pull/273

[2015-11-26 09:33] shakeelmohamed commented on #62
We are in! Our project shows up here: http://up-for-grabs.net/#/tags/youtube

[2015-11-26 09:33] #62 closed

[2015-11-28 02:20] #27 closed

[2015-11-28 09:24] shakeelmohamed opened #66 "Hyperlink video description contents"
If we add hyperlinks to any URLs in the video description the experience will be much better.

The links should follow the form: `<a href="http://example.com" target="_blank">` so the link opens in a new window/tab.

[2015-11-30 06:14] shakeelmohamed commented on #42
I tried some magic on the `42` branch, and no luck. Edge support seems non-trivial

[2015-12-02 16:11] eirism commented on #66
Hod do you think this should be implemented? I think regular expressions could be a way to do it. I think a problem with most ways to do it is to match all URLs in the description, because URLs can take so many forms (query strings, fragments, etc.)

((?:http|https)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(?:\/\S*[^\.\s\"])?)
This RegEx matches too much, but I think it will be usable

[2015-12-02 16:32] shakeelmohamed commented on #66
Hi @eirism,

I'm open to suggestions, my initial thought was regex but I have the similar doubts since URLs are so varied. If you're willing to do the work, we can start with a regex solution initially, then improve as we go.

[2015-12-03 08:43] shakeelmohamed commented on #49
Some general topics that would be helpful:

- How to get started quickly as a newbie
- How to test things locally (WAMP, MAMP, XAMPP) vs. opening the `index.html` file in a browser
- How to write tests
- What are our code conventions/style? (a `.jshintrc` would help a bunch here)
- How to install dependencies (frontend & test)
- How to run tests
- What to look for in a success/failed work session

[2015-12-03 08:52] BeigeBadger commented on #49
I'm happy to write the part on testing things locally. I may get some time this weekend - I'm pushing a site live tomorrow for a client (outside of my day job) so I've been out of action all this week. =\

[2015-12-03 18:01] shakeelmohamed commented on #49
Rock on @BeigeBadger!

[2015-12-04 04:46] #66 closed

[2015-12-04 05:44] shakeelmohamed commented on #50
Added a theoretical implementation to the first comment :gem:

[2015-12-05 03:36] #50 closed

[2015-12-05 06:18] shakeelmohamed commented on #26
I have been trying to setup a call with the Keen folks to help move this along. This is still blocked by them unless we get (or become) a Keen expert :hourglass:

[2015-12-05 06:25] shakeelmohamed commented on #48
Semi-related, I kicked off a browswershots run which is taking screenshots of the site loaded up in a very broad matrix of browsers! The results are slowly pouring in here: http://browsershots.org/http://zen-audio-player.github.io/

[2015-12-05 06:28] shakeelmohamed commented on #6
Site note, we can run "manual" test via Browserling which gives you a browser session for any browser x platform combination for a few minutes - and apparently it's free! https://www.browserling.com/

[2015-12-05 06:36] shakeelmohamed commented on #6
Maybe we should reach out to browserstack? https://www.browserstack.com/pricing

[2015-12-05 06:40] shakeelmohamed opened #71 "Setup browserstack CI - integration testing via browser"
Browserstack is an awesome browser testing service, and they're free for open source projects!

- [x] Contact them to get a "free" account
- [x] create an account
- [x] get the account upgraded (email has been sent)
- [ ] Learn how their API works (it looks like we'll need to migrate from Zombie to Selenium - [Node.js guide](https://www.browserstack.com/automate/node))
- [ ] Define 3 baseline test

[2015-12-05 06:43] shakeelmohamed commented on #32
This is basically blocked on me not wanted to buy a domain :smiley:

[2015-12-05 17:36] shakeelmohamed opened #72 "Add a "sponsored by" section to the website"
We need this for BrowserStack before we can use them

Requirements:

- Add a smaller heading (h3/h4) at the bottom of the page saying "Sponsored By"
- Vertically stack any images with links back to the company's website, all images should be the same width, probably 400px since that's a common number for the rest of the site

Browserstack logo:
![logo-01](https://cloud.githubusercontent.com/assets

[2015-12-05 21:06] shakeelmohamed opened #73 "Invalid video ID causes odd behavior"
## What happens:

1. We get the video description error
2. Some elements "reload"
3. We get the correct error
4. The :musical_note: icon shows up where the title should be (but it's an invalid video ID so there is no title)
5. The time shows up!

![capturfiles_7](https://cloud.githubusercontent.com/assets/1480063/11610231/e601b328-9b50-11e5-98c5-f4a9242810e0.png)

## What should happen:

1. We get

[2015-12-05 23:48] eirism opened #74 "Reduce/remove timeout on play/pause click"
The current timeout of 1 second makes the button seem unresponsive. And if you click the button during the timeout, the click won't be registered.

We can either experiment with setting the timeout lower or implement some logic to switch between the play and pause button some other way (using setInterval and PlayerState?) .

[2015-12-06 00:23] shakeelmohamed commented on #74
:+1:

[2015-12-09 00:43] IsaiahN commented on #51
Hello Shakeel, here are my attempts at the logo creation
![zenplayer11](https://cloud.githubusercontent.com/assets/14181435/11672945/de6dc1d0-9de2-11e5-8aa6-c5e36bd92c17.png)
![zenplayer10](https://cloud.githubusercontent.com/assets/14181435/11672943/de5f43f8-9de2-11e5-8ba6-577a241dd359.png)
![zenplayer9](https://cloud.githubusercontent.com/assets/14181435/11672944/de6496d2-9de2-11e5-93e0-9aa22426

[2015-12-09 01:22] shakeelmohamed commented on #51
Wow thanks @IsaiahN!

Of these, I like the following the best.
Can we use #4078c0 blue instead of the red, and remove the shadow on "ZEN"? Not sure if I like the background color yet, let's see those changes first :+1:

![](https://cloud.githubusercontent.com/assets/14181435/11672943/de5f43f8-9de2-11e5-8ba6-577a241dd359.png)

[2015-12-09 03:56] IsaiahN commented on #51
@shakeelmohamed - I've uploaded the changed version with a few variations (including the hue change):
![zenplayer23](https://cloud.githubusercontent.com/assets/14181435/11676258/c95414a4-9dfe-11e5-8f00-2fa8154f9eb7.png)
![zenplayer22](https://cloud.githubusercontent.com/assets/14181435/11676259/c955efc2-9dfe-11e5-992a-68855c2e0496.png)
![zenplayer21](https://cloud.githubusercontent.com/assets/1418

[2015-12-09 04:55] shakeelmohamed commented on #51
Great! I like the following the best.
@IsaiahN Can we see some renderings on different logo sizes? (ie: favicon, github org logo, homepage) I think we should be able to clearly identify it for any size, maybe that means subtracting pieces of the logo for smaller sizes.

![](https://cloud.githubusercontent.com/assets/14181435/11676259/c955efc2-9dfe-11e5-992a-68855c2e0496.png)

[2015-12-09 08:12] shakeelmohamed commented on #55
See #70 for a rough guideline of implementation

[2015-12-10 17:49] shakeelmohamed commented on #26
The table viz is using [Google's table viz](https://developers.google.com/chart/interactive/docs/gallery/table#example) under the hood which has sorting, etc

[2015-12-11 00:20] IsaiahN commented on #51
https://makeappicon.com/upload/61544b1c755f43c58150f0ee05cf890f/android/drawable-xxxhdpi/ic_launcher.png

https://makeappicon.com/upload/61544b1c755f43c58150f0ee05cf890f/android/drawable-xxhdpi/ic_launcher.png

https://makeappicon.com/upload/61544b1c755f43c58150f0ee05cf890f/android/drawable-xhdpi/ic_launcher.png

![image](https://cloud.githubusercontent.com/assets/14181435/11732333/34aef75a-9f71-1

[2015-12-11 00:32] shakeelmohamed commented on #51
@IsaiahN I was afraid of this, the logo doesn't look great when it's smaller than ~200px wide. Can you work some magic here to make it look more recognizable when smaller?

[2015-12-11 00:41] IsaiahN commented on #51
Here is the color update
![zenplayer34](https://cloud.githubusercontent.com/assets/14181435/11732676/81af72ca-9f74-11e5-8354-6b2c10133bbf.png)
![zenplayer33](https://cloud.githubusercontent.com/assets/14181435/11732677/81b82762-9f74-11e5-82b7-6776c3b1947e.png)
![zenplayer32](https://cloud.githubusercontent.com/assets/14181435/11732678/81be867a-9f74-11e5-816e-101706b623ee.png)
![zenplayer31](https:

[2015-12-11 00:45] shakeelmohamed commented on #51
I'm liking this one the best

![](https://cloud.githubusercontent.com/assets/14181435/11732678/81be867a-9f74-11e5-816e-101706b623ee.png)

[2015-12-11 00:52] IsaiahN commented on #51
Updated:
![zenplayer35](https://cloud.githubusercontent.com/assets/14181435/11732985/9686af30-9f77-11e5-94da-bc402be897e1.png)

[2015-12-11 00:58] shakeelmohamed commented on #51
By the time we're at a favicon, this is impossible to identify :frowning:
![capturfiles_1](https://cloud.githubusercontent.com/assets/1480063/11733111/31b1b9aa-9f5f-11e5-924a-760232f75f77.png)

[2015-12-11 00:59] IsaiahN commented on #51
@shakeel, right most icons are, which is why they are often One letter favicons Like the "Z" one

[2015-12-11 01:20] IsaiahN commented on #51
And some variants....
![zenplayer40](https://cloud.githubusercontent.com/assets/14181435/11733448/6ef34fec-9f7b-11e5-835d-34f55c2ea4cd.png)
![zenplayer39](https://cloud.githubusercontent.com/assets/14181435/11733449/6f15e6e2-9f7b-11e5-82be-e95aab259335.png)
![zenplayer38](https://cloud.githubusercontent.com/assets/14181435/11733450/6f8c43dc-9f7b-11e5-8842-e7f0b276e5d5.png)
![zenplayer37](https://c

[2015-12-11 01:41] shakeelmohamed commented on #51
Ah this is really nice, I think we can take this one in - at least for now!
@IsaiahN are you up for making a PR to update the files in the `img` directory?

![](https://cloud.githubusercontent.com/assets/14181435/11733451/6f92be6a-9f7b-11e5-82a1-82f9d7c578da.png)

[2015-12-11 02:56] shakeelmohamed commented on #51
Closed by #75, kick ass job @IsaiahN!

[2015-12-11 02:56] #51 closed

[2015-12-11 03:19] shakeelmohamed opened #77 "Add Keen logo to the sponsors section"
Just like #72 - but blocked on #26

Grab the logo from here: https://keen.io/blog/43496487388/identity-crisis-an-evolution-of-our-brand

[2015-12-11 03:19] shakeelmohamed opened #78 "Add TrackJS logo to the sponsor me section"
Just like #72 - but blocked on #47

[2015-12-11 08:20] shakeelmohamed opened #80 "Update license entity to "Zen Audio Player""
- [x] Line 3 of the `LICENSE` file has my name where it should say "Zen Audio Player".
- [x] Should we remove the `Created by @_Shakeel` line from the website? If yes, can we embed some kind of automatically updated list of contributors?

[2015-12-11 08:50] shakeelmohamed opened #81 "Re-add Zen Audio Player heading"
Since the logo no longer says "Zen Audio Player" we need to add that text as a header under the logo.
The code for this is basically what was removed from `index.html` with 48ca66b706ecb65c256d69b37d6e4df6f769ec53

[2015-12-11 21:42] shakeelmohamed opened #82 "Add some HTML style checking to CI"
We can speed up the PR process by checking for at least the following things in a test

- Tab indents
- Indents should be in multiples of 4 spaces

[2015-12-12 01:05] shakeelmohamed commented on #72
Closed with #76

[2015-12-12 01:05] #72 closed

[2015-12-12 09:55] shakeelmohamed opened #84 "Mention contributing notes in README"
Just need to add a heading and a short sentence linking to the `CONTRIBUTING.md` file

[2015-12-17 19:27] #84 closed

[2015-12-17 21:50] shakeelmohamed opened #87 "Don't prefix the title with the music note if it already begins with one"
It would be nice to somehow avoid this from happening, note the 2 musical notes at the beginning of the title. The first one is ours, the second is actually in the title!

![capturfiles_2](https://cloud.githubusercontent.com/assets/1480063/11883043/0e012002-a4c5-11e5-82c8-ad93922671d7.png)

Here is an example video: https://www.youtube.com/watch?v=iXAbte4QXKs

[2015-12-21 05:38] shakeelmohamed commented on #6
I believe these tests will all need to be rewritten using Browserstack... stay tuned :clock10:

[2015-12-22 05:16] #78 closed

[2015-12-22 05:21] shakeelmohamed commented on #47
All done thanks to @thomasjosephgreco with #86!

[2015-12-22 05:21] #47 closed

[2015-12-23 20:48] shakeelmohamed commented on #38
To solve this properly, we may just need to create an iOS app according to this [SO question](http://stackoverflow.com/questions/19521667/disable-fullscreen-iphone-video).

[2015-12-23 21:22] #80 closed

[2015-12-23 21:22] #82 closed

[2015-12-29 04:14] #81 closed

[2015-12-29 06:05] shakeelmohamed opened #90 "Update screenshot :)"
Need to update the screenshot after #89 was merged in, since this changes the appearance

[2015-12-29 06:07] shakeelmohamed opened #91 "Update README with sponsor information"
We should include a section for sponsoring organizations, similar to what we have on the website currently.
We should also add a short blurb about the company and their service.

[2015-12-29 09:09] shakeelmohamed opened #93 "Update contributing notes to mention "Add Closes #<issue number>" to commit or PR text (putting in the title doesn't help)"
By adding something like `Closes #1` to a commit or PR description, when the PR is merged that issue will automatically be closed.
This small thing helps saved some housekeeping work afterwards :smile:

See GitHub's blog post about this feature for more info: https://github.com/blog/1386-closing-issues-via-commit-messages

Very rough text might be something like:
- [ ] "Add Closes #<issue number>

[2015-12-29 09:14] shakeelmohamed commented on #55
How's this going @eirism? Just checking in, no need to panic :smirk_cat:

[2015-12-29 09:23] #74 closed

[2015-12-29 09:30] eirism commented on #55
The dev/timeseek branch has a working implementatipn of it. The excact behaviour and placement/looks of it may need to be tweaked.

Den 29. desember 2015 10:14:56 CET, skrev Shakeel Mohamed <notifications@github.com>:

[2015-12-29 09:41] shakeelmohamed commented on #55
Just tested this out, it works pretty well!

Leaving some notes here so I don't forget:

- [ ] Change the `setInterval()` interval to a lower value, maybe 50ms instead of the current 100ms
- [ ] The seek slider should be above the time display
- [ ] We should try to visually distinguish the 2 sliders. Maybe make the volume one smaller? Maybe make the seek slider 400px wide? Maybe move the video ti

[2015-12-29 11:00] shakeelmohamed opened #95 "Migrate from jshint -> eslint"
We should be able to match our existing jshint configuration with [eslint](https://www.npmjs.com/package/eslint), which appears to be the better solution.

- [ ] update dependencies in `package.json`
- [ ] update the scripts in `package.json`
- [ ] update configuration wherever it lives
- [ ] remove the `.jshintrc` file, why did I ever check that in? :disappointed:

[2015-12-29 19:09] #90 closed

[2015-12-30 00:14] #87 closed

[2016-01-01 03:02] shakeelmohamed opened #97 "Hide #playerControls if not currently playing a video"
I don't know how I didn't notice this until now... we don't need to show the player controls at all unless we're playing a video.
For example: a when you first load up the page, you shouldn't see play/pause, show player, show description, or the volume controls because they're totally useless.

Solution:
- [ ] in `css/styles.css` add a new rule:
[code]
- [ ] in `js/everything.js` around line 365 u

[2016-01-01 06:57] Ab1d commented on #97
i will try this.

[2016-01-01 07:32] Ab1d opened #98 "1) should have valid HTML : test failed"
i have forked the repo in to my local and ran "npm tests", this is the error i am getting.

1) index.html should have valid HTML:
     Uncaught TypeError: Cannot read property 'messages' of undefined
      at test/html-check.js:13:34
      at Request._callback (node_modules/html5-lint/html5-lint.js:86:14)
      at Request.self.callback (node_modules/html5-lint/node_modules/request/request.js:198:2

[2016-01-01 07:43] shakeelmohamed commented on #98
Thanks for the report @Ab1d, it looks like the [HTML validation server](https://html5.validator.nu/) used by `html5-lint` is down.

[2016-01-01 07:45] #98 closed

[2016-01-01 07:48] shakeelmohamed commented on #98
Digging deeper, apparently this [service has been shut down completely](https://bugzilla.mozilla.org/show_bug.cgi?id=763804#c32)!

[2016-01-01 07:50] shakeelmohamed opened #100 "Replace html5-lint dependency"
See #98. The server html5-lint was using has been shut down, so we need to find another way to do HTML validation for the tests.
I am very open to suggestions here!

[2016-01-01 09:27] #97 closed

[2016-01-01 09:33] shakeelmohamed opened #102 "Enhance the demo link"
Instead of just a simple anchor link, we can use a button with a font awesome icon. The full list of available icons is [here](http://fontawesome.io/icons/).

For example HTML see how the play/pause button is implemented.

[2016-01-01 09:38] Ab1d commented on #102
which icon you prefer?

[2016-01-01 09:40] shakeelmohamed commented on #102
I'm open to suggestions, I didn't see an obvious choice

[2016-01-01 09:46] Ab1d commented on #102
how about http://fontawesome.io/icon/arrow-right/

[2016-01-01 09:51] shakeelmohamed commented on #102
Maybe a mouse pointer? http://fontawesome.io/icon/mouse-pointer/

[2016-01-01 10:09] Ab1d commented on #102
![screen shot 2016-01-01 at 3 37 22 pm](https://cloud.githubusercontent.com/assets/3349621/12070488/b8fd6fea-b09d-11e5-9aec-caab63d9b6e0.png)
![screen shot 2016-01-01 at 3 38 20 pm](https://cloud.githubusercontent.com/assets/3349621/12070489/c0068b64-b09d-11e5-8fdf-8019f30514e7.png)

[2016-01-01 10:10] shakeelmohamed commented on #102
I like the first one

[2016-01-01 10:27] Ab1d commented on #102
test is failing getting this error :
Demo should play the demo when demo link is clicked:
     AssertionError: No link matching '#demo'
      at Browser.clickLink (node_modules/zombie/lib/index.js:692:7)
      at Context.<anonymous> (test/index.js:108:17)

[2016-01-01 10:29] shakeelmohamed commented on #102
I left a comment on #103

[2016-01-02 03:33] #102 closed

[2016-01-02 03:45] shakeelmohamed opened #104 "Nit with spacing on demo button"
I think it needs to be outside the #audioplayer div. Want to take this one @Ab1d? :smiley:

[2016-01-02 06:50] Ab1d commented on #104
i didn't understood the issue properly, please elaborate.

[2016-01-02 07:16] shakeelmohamed commented on #104
Sure, I'd like to have less spacing between the text field and the demo link. I've put a box where the spacing should be removed (first screenshot). But, at the same time, the spacing is perfect for when we're currently playing a video (second screenshot).

I tried doing a quick change, and can't seem to get the demo link to stay centered.

Screenshots:
![capturfiles_2](https://cloud.githubusercon

[2016-01-03 06:00] monicacheung commented on #9
I can work on this one. But I'm getting a err response from the Youtube Data API when I try to test locally:

"There is a per-IP or per-Referer restriction configured on your API key and the request does not match these restrictions. Please use the Google Developers Console to update your API key configuration if request from this IP or referer should be allowed."

Also can you elaborate on how yo

[2016-01-03 06:18] #104 closed

[2016-01-03 06:24] shakeelmohamed opened #106 "In getVideoDescription(), hide the "Show Description" button if running on file protocol"
We already have this if statement, we just need to add a simple jQuery command to hide the description button since it is useless locally.

[code]

[2016-01-03 06:27] shakeelmohamed commented on #9
Hi @monicacheung, great news!

How are you testing locally? You may need to put the files on a local web server, I use [MAMP](https://www.mamp.info/en/) on my macbook. Anyways, that error will happen if you're loading up the site over the file protocol, (ie: opening index.html directly in a browser). We discovered this from implementing the video description.

Maybe for a v1, we can have a differe

[2016-01-03 08:28] shakeelmohamed opened #107 "Add github stats badge to readme"
If you go to [this page](http://githubstats.com/zen-audio-player/zen-audio-player.github.io) you can see some cool stats about this project!

We just need to add the following markdown to the readme to the right of the Travis CI badge
[code]

Preview:

[![GitHub Stats](https://img.shields.io/badge/github-stats-ff5500.svg)](http://githubstats.com/zen-audio-player/zen-audio-player.github.io)

PS: [G

[2016-01-03 08:33] shakeelmohamed commented on #71
I started some work on my [personal fork](https://github.com/shakeelmohamed/zen-audio-player.github.io) on the `feature/browserstack`. I got very blocked by the promise-based API exposed by Selenium. If somebody wants to take this, let's have a quick chat on gitter or over email. Unless you already have experience with Selenium, you'll need to setup a call with my contact at Browserstack.

[2016-01-03 08:53] shakeelmohamed opened #108 "Minor layout tweaks"
- [ ] In #105 we added `margin-top: 20px;` to the error div, but we should instead have `margin-bottom: 20px;` on the form.
- [ ] The player div should be below the controls. Currently clicking "show player" provides a very jarring experience by moving the controls down - then up again after hiding the player.

[2016-01-03 10:48] monicacheung commented on #9
Currently, 'enter' from the box and the button both do the same thing. How can we fit in a new search button?

Maybe something like this?
1. If 'enter' from box, assume videoid or url and play the video. If failed, assume search query and search for videos.
2. If 'old' button was clicked, play the video.
3. If 'search' button was clicked, search for videos.

[2016-01-03 22:11] shakeelmohamed commented on #9
This happens because we're using an HTML form and that functionality comes natively. We can restructure it to just use a div if needed.

1. If 'enter' from box, assume videoid or url and play the video. If failed, assume search query and search for videos.
2. If 'old' button was clicked, play the video.
3. If 'search' button was clicked, search for videos.

These seem reasonable. How would you imp

[2016-01-03 23:36] #108 closed

[2016-01-04 04:00] monicacheung commented on #9
Hi @shakeelmohamed,

I have a rough implementation on my forked project, but I came across a bug that seems related to #73. Let's figure it out and then worry about making it look pretty?

1. Enter an invalid videoID and hit enter. => Notice the duplicate search results. Related to #73? I added comments in the code where it's occurring. Basically, it goes through "onError" multiple times for some

[2016-01-04 04:36] shakeelmohamed commented on #9
Well this is interesting! I expected 2 & 3.

For 1, there's something definitely buggy because even the URL becomes `http://localhost:8888/?v=search&?q=search`. Let's try to distinguish the 2 workflows (search & lookup) into different URL formats.

- if searching, do `window.location.href` magic to remove all querystring parameters - then append `?s=search%20terms` (probably do this where `getSear

[2016-01-04 05:37] monicacheung commented on #9
That URL was intentional only for 'enter' case, because it needed some way to know that it should perform search for `q` (the original user input) if `parseYoutubeVideoID(v)` errs on play. If there was no play error, then `q` is ignored.

Using redirect on line 46 works. But it seems like it's just hiding the bug.. The buggy intermediate page, `?v=invalidvideoID&?q=invalidvideoID` which has simila

[2016-01-04 05:58] shakeelmohamed commented on #9
The problem could be that `?v=search&?q=search` as a querystring only has the `v` parameter, the extra `?` in the middle isn't properly setting the `q` parameter. Let's try removing all querystring parameters anytime we're doing a redirect

[2016-01-04 06:40] monicacheung commented on #9
Search is working and the preload for box is taken from `q`, so `q` should be ok. Tried without the extra `?` and the problem is still there.

[2016-01-04 07:30] shakeelmohamed commented on #73
After some investigation with @monicacheung, we've discovered the `onError` callback on the `player` object (provided by the Youtube API) is being called twice. This bug has actually existed since a very long time ago from the repo's 2nd commit 262d8a23b59860c936fbb07731edf838cb587adf - before we were even using the iFrame API.

We may need to implement a workaround, this might be "as designed" on

[2016-01-04 07:32] shakeelmohamed commented on #9
I don't know if we can make further progress until we resolve #73 - the fact that the `onError` callback is always called twice is a bit confusing.

[2016-01-04 07:37] shakeelmohamed commented on #73
There is a similar issue on StrackOverflow w/o an answer from months ago: http://stackoverflow.com/questions/31878905/youtube-iframe-api-why-is-onerror-event-being-called-twice

[2016-01-04 10:26] shakeelmohamed commented on #9
It came to me, like a dream!

This patch (based on your fork) appears to be a sufficient workaround, or at least a good start to unblock you

[code]

[2016-01-04 10:33] shakeelmohamed opened #110 "Simplify all URL parsing code with URI.js"
This seems like a good library and not too large of a dependency, what do we think? https://github.com/medialize/URI.js

[2016-01-04 10:33] shakeelmohamed commented on #73
We may have a workaround in #9, stay tuned...

[2016-01-04 18:20] #106 closed

[2016-01-05 06:49] agauniyal commented on #100
https://github.com/yaniswang/HTMLHint ?

[2016-01-05 06:53] shakeelmohamed commented on #100
@agauniyal that looks like an awesome project!

[2016-01-05 06:55] shakeelmohamed opened #112 "Add csslint as a pretest command"
We should be linting our css as well https://github.com/CSSLint/csslint

[2016-01-05 07:38] agauniyal opened #113 "Single test failing with mocha"
![2016-01-05-130559_1366x768_scrot](https://cloud.githubusercontent.com/assets/7630575/12109963/4c4b7f46-b3ad-11e5-9a2f-2eeebd62c64e.png)

At line 22: `assert.ok(!e);`

[2016-01-05 07:42] agauniyal commented on #113
Also since I'll be adding htmlhint linter support, what rules do you want to support. Rules are here : https://github.com/yaniswang/HTMLHint/wiki/Rules.

[2016-01-05 07:56] shakeelmohamed commented on #113
Can you print the error before that assertion?

As for the HTMLHint rules, let's try standard, accessibility & specification. If there are any failures that can be easily corrected, feel free to fix them. Keep us posted, thanks for doing this work!

[2016-01-05 08:15] agauniyal commented on #113
Ignore that, went away with removing modules directory and doing npm update again :smile:

[2016-01-05 08:23] agauniyal commented on #100
https://github.com/zen-audio-player/zen-audio-player.github.io/pull/114

[2016-01-05 08:24] agauniyal commented on #95
I'll be doing this + https://github.com/zen-audio-player/zen-audio-player.github.io/issues/112

[2016-01-05 08:35] #113 closed

[2016-01-05 09:15] agauniyal commented on #32
Could use https://dns.js.org/ ?

[2016-01-05 09:29] agauniyal commented on #112
Rules? All except OOCSS? https://github.com/CSSLint/csslint/wiki/Rules.

[2016-01-05 09:31] agauniyal commented on #95
http://eslint.org/docs/rules/ - which ones?

Or should I integrate and test with a sample conf and then you could add your .eslintrc yourself?

[2016-01-05 15:06] shakeelmohamed commented on #112
That sounds good. What can we do about code style? (curly brace position, spacing, etc)

[2016-01-05 15:10] shakeelmohamed commented on #32
That's an option, @ecnepsnai mentioned he was looking into buying a domain - if prefer that. especially we want to find non-technical users at some point

[2016-01-05 15:13] shakeelmohamed commented on #95
Yeah let's start with a base config, if you can match the jshint settings in package.json that would be a great start

[2016-01-05 16:13] agauniyal commented on #112
@shakeelmohamed I'm not aware of such service, however we could run some sort of css-beautify which would format according to specific rules (curly braces, indentation...), irrespective of how a dev codes during the npm test or some other npm command. If someone is familiar with git hooks, they are much more suitable for such task :+1:

[2016-01-05 16:16] agauniyal commented on #95
okay I will try to replicate with current .jshintrc. Also should I add this issue and #112 onto #114 PR or seperate PRs for each of them?

[2016-01-05 16:18] shakeelmohamed commented on #112
If we could have a pretest script for css style, that would be sufficient for me. We don't need to reformat, just tell the developer when something doesn't conform to our style. I want this for pull requests so they can't be merged until the style is right. To merge to the master branch, the Travis CI run has to pass

[2016-01-05 19:02] shakeelmohamed commented on #95
Separate PRs please

[2016-01-05 22:54] shakeelmohamed opened #116 "Use requireJS for loading all JS scripts"
This should fix #42, and be a more robust solution than #115.

http://requirejs.org/

For the record, there is a great [9 minute video](https://www.youtube.com/watch?v=VGlDR1QiV3A) explaining requireJS.

[2016-01-06 10:56] moen-io commented on #42
@shakeelmohamed What sort of solution are you looking for here? Another option could be to use the method described in the [iframe api documentation](https://developers.google.com/youtube/iframe_api_reference?hl=en)

[2016-01-06 17:27] #100 closed

[2016-01-06 17:31] shakeelmohamed commented on #42
@moen-io We were using the recommended method at one point, it may be worth revisiting again. Did you see 9be3cecdff43e6c888e93c1ad89d22bc15efbf7b? We can't reliably depend on JS scripts loading in order of inclusion.

A robust one :smile:

[2016-01-06 18:09] moen-io commented on #42
@shakeelmohamed Under what circumstances do scripts not load in order of inclusion? Browsers are required to load scripts in the order they are encountered unless specifically marked async. The reason `https://www.youtube.com/iframe_api` behaves strangely is because it does, in fact, attempt to load `www-widgetapi.js` async. Thus the only way to ensure that `everything.js` loads first is to place

[2016-01-06 18:29] shakeelmohamed commented on #42
Thanks for correcting me, I forgot about that. I'm going to re-open #115 with a couple of comments

[2016-01-07 06:03] agauniyal commented on #112
Haha finally found another project to compliment with csslint that would help maintain uniform css style - https://github.com/stylelint/stylelint. Here are the [rules](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md).

[2016-01-07 06:12] shakeelmohamed commented on #112
That looks perfect! I'm curious to see what happens if we turn on all the rules

[2016-01-07 06:52] #77 closed

[2016-01-07 12:19] agauniyal commented on #112
#118

[2016-01-07 12:46] agauniyal commented on #95
@shakeelmohamed sorry for disturbing you, what does this line in scripts section of `package.json` does? `"lint:js": "jshint js test",`

[2016-01-07 19:12] #112 closed

[2016-01-07 19:23] shakeelmohamed commented on #95
Right, it will only run `jshint` on the `/js` and `/test` directories. We don't want to bother running it against `bower_components` since that's library code

[2016-01-08 16:53] #95 closed

[2016-01-09 05:13] shakeelmohamed commented on #6
This will be a very helpful guide: http://www.redotheweb.com/2013/01/15/functional-testing-for-nodejs-using-mocha-and-zombie-js.html

[2016-01-09 06:25] #9 closed

[2016-01-09 06:25] #73 closed

[2016-01-09 06:40] shakeelmohamed opened #121 "Update the search box text to include "search terms" + update screenshot"
With #120, we have support for proper search just as you'd do on YouTube!

The placeholder text should become something like

    Search, YouTube video ID, or URL

[2016-01-09 06:41] shakeelmohamed commented on #116
This doesn't seem worth the effort.

[2016-01-09 06:41] #116 closed

[2016-01-09 09:41] monicacheung commented on #121
Do you mean something like the suggested search queries as you type on youtube?

[2016-01-09 09:47] shakeelmohamed commented on #121
That would be cool, but I meant just updating the placeholder text for the input

![capturfiles_10](https://cloud.githubusercontent.com/assets/1480063/12215470/e0e53dc8-b672-11e5-96ed-e2ffd4029d5e.png)

[2016-01-09 09:52] monicacheung commented on #121
Okay haha. Update this issue and I can do both?

[2016-01-09 09:55] shakeelmohamed commented on #121
Let's make them separate issues, I like the idea of keeping "quick fixes" on their own. I've assigned this one to you, feel free to make an issue for the autocomplete feature

[2016-01-09 21:48] shakeelmohamed opened #125 "CORS issue in OS X Safari"
I haven't looked into this yet, but it seems like a regression. @monicacheung may have some thoughts

# Clicking the demo button, or trying to submit any videoID/URL

![capturfiles_11](https://cloud.githubusercontent.com/assets/1480063/12218544/3c6e6d36-b6d7-11e5-9e2e-fa2f4d52920c.png)

# Search still works fine though

![capturfiles_12](https://cloud.githubusercontent.com/assets/1480063/12218555/

[2016-01-09 22:03] monicacheung commented on #125
I can't seem to reproduce this issue. Do you get it 100% of the time?

[2016-01-09 22:05] shakeelmohamed commented on #125
Yeah, but I unmuted my speakers and it's actually playing the video in the background :laughing:

[2016-01-09 22:15] monicacheung commented on #125
Comment out the ```if (event.target.getPlayerState() !== YT.Player``` block and you will probably see the player. But I think it will break something else. Can you do ```console.log("TEST" + event.target.getPlayerState());``` in this function?

[code]

[2016-01-10 00:26] #107 closed

[2016-01-10 00:50] monicacheung opened #127 "Search autocomplete"
Youtube's search bar gives query suggestions as you type.

![unspecified](https://cloud.githubusercontent.com/assets/6202650/12219264/eac3863c-b6f0-11e5-8832-47a9cae2e310.png)

[2016-01-10 06:40] monicacheung commented on #125
This might be a better check. If it doesn't work, then I have another idea...

[code]

[2016-01-10 22:30] #42 closed

[2016-01-10 22:39] shakeelmohamed commented on #125
Great, I will look at it this week it may be related to #38 (at least on OS X). I think we'll need to add some kind of notice for mobile users saying we don't support mobile browsers

[2016-01-10 22:54] shakeelmohamed commented on #2
We can add a toggle switch for changing between youtube & soundcloud, [this plugin](https://simontabor.com/labs/toggles/) looks nice. Another interesting feature would be using HTML5 local storage to maintain youtube vs soundcloud

[2016-01-11 03:01] monicacheung commented on #110
What other things do you plan on adding besides soundcloud support? Right now, I think it's simple enough to not need something like this.

[2016-01-11 05:10] shakeelmohamed commented on #110
Nothing else at the moment, using URI.js might simplify/clean up the code in a few places. This is definitely not a top priority for me

[2016-01-12 18:51] shakeelmohamed commented on #55
More thoughts:

- Maybe the volume slider should be more vertical, like YouTube
<img width="252" alt="screen shot 2016-01-12 at 10 43 33 am" src="https://cloud.githubusercontent.com/assets/1480063/12273227/8870014c-b919-11e5-99e8-a230b8a560c8.png">
- Maybe the time seek slider should have a tooltip instead of having current time & duration on either side (leaving 00:00 / 00:01 where it is below th

[2016-01-13 16:56] eirism commented on #55
We will need to install Bootstrap to use tooltips. For the volume slider, are you thinking of changing the circle for another icon? Sliders support unicode characters as handles, so if you find a suiting symbol we can use it.
Should the time tooltip be above or below the slider, and should it always be visible or only visible when hovering over/using it? Either way we will need to make space for t

[2016-01-14 05:20] shakeelmohamed commented on #55
Oh right, let's not pull in another UI dependency :smile:

I played with the CSS a bit for the volume slider.
![capturfiles_20](https://cloud.githubusercontent.com/assets/1480063/12316406/065d84f4-ba3b-11e5-8133-3f768eaf4d16.png)
 Obviously the selector will need to be more specific, but I think this visually looks close enough to a vertical line
[code]

Let's try above, you can add a `<br>` or tw

[2016-01-14 05:42] shakeelmohamed commented on #38
There is no workaround for full screen without making an iOS app.

[2016-01-14 05:42] #38 closed

[2016-01-14 16:19] eirism opened #131 "Get slider tooltips working"
Slider tooltips are currently not working. bootstrap-slider.js uses the tooltip CSS class from bootstrap to get the proper behavior, and as we are currently not including bootstrap the tooltips are broken.

The two ways to fix this, as I see it, is to either include bootstrap in its whole, or to just use the relevant CSS rules from it.

[2016-01-14 16:28] shakeelmohamed commented on #55
Done with #130

[2016-01-14 16:28] #55 closed

[2016-01-14 16:29] shakeelmohamed commented on #131
The main reason we want tooltips is for the the time seek slider to mimic the design used by YouTube:

![](https://cloud.githubusercontent.com/assets/1480063/12273295/f9ceba18-b919-11e5-9bb7-df12b74ac58c.png)

[2016-01-14 16:31] eirism opened #132 "Time-slider tooltip"
When #131 is fixed,it would be nice to have a tooltip on the timeSeek slider, like the Youtube player. I think we should use the default tooltip behavior, show, to only show it when hovering over the slider.

To prevent the tooltip from colliding into the text above/below it (depends on tooltip placement) we will also need to add some air between the slider and the surrounding text.

[2016-01-15 15:29] moen-io commented on #131
Working on adding this in. We only need a couple of css declarations, so there is probably no need to pull all of bootstrap into this. The positioning may need some work, but I don't want too much dead air above the slider. Thoughts?

![image](https://cloud.githubusercontent.com/assets/10991343/12356788/4e80516e-bb9c-11e5-94ea-9c1c9f9ca00d.png)

[2016-01-15 15:38] eirism commented on #131
I think the tooltip should be closer to the handle than it is in your screenshot.

Another comment about your screenshot that might be better fitting in #132, is the time show on the tooltip. The tooltip and the time-display doesn't show the same time.

[2016-01-15 15:43] moen-io commented on #131
@eirism Yeah currently the tooltip updates in real time, while the current time polls every 50ms. I haven't looked into that bit yet but it's definitely on the list.

[2016-01-15 19:26] #121 closed

[2016-01-15 19:26] #127 closed

[2016-01-15 20:56] moen-io opened #134 "Google analytics sends events constantly"
GA events are sent several times per second as seen here:

![image](https://cloud.githubusercontent.com/assets/10991343/12364865/171afc06-bbc9-11e5-9448-a701652f6b63.png)

The root cause is that analytics are sent every time `parseYoutubeVideoID` is called. As it happens, this occurs every 50ms via `updatePlayerTime` and `storeTime`.

I will be submitting a PR shortly with a proposed solution.

[2016-01-15 20:57] shakeelmohamed commented on #134
This is hilarious actually, thanks for looking into it

[2016-01-15 21:11] eirism commented on #134
I did also notice this. How often do we need to send GA events? Only on video load, or more often?

[2016-01-15 21:13] shakeelmohamed commented on #134
@eirism Right once per video load. I'm open to a refactor of `parseYoutubeVideoID()`. We can pull `videoID` out as a global variable, then in `parseYoutubeVideoID()` check if it it was null and now set to a value, send a ga event.

[2016-01-15 21:21] moen-io commented on #134
@eirism @shakeelmohamed Yeah that's pretty much what I've done. It's a bit messy to just add global variables for these things but it is the simplest solution for now. It would be nice if we could refactor the javascript eventually with proper namespaces etc.

[2016-01-15 21:29] #134 closed

[2016-01-15 23:39] shakeelmohamed opened #136 "Add support for plyr"
There's a really well designed HTML5 audio player called [audio.js](https://github.com/kolber/audiojs). Are we able to override the default functionality of all the controls to behave like our current controls? I'm also open to alternative libraries - what do we think? @zen-audio-player/contributors

<img width="481" alt="capturfiles_3" src="https://cloud.githubusercontent.com/assets/1480063/12368

[2016-01-16 09:08] shakeelmohamed commented on #30
Moved to the Chrome extension project since it's not possible through JavaScript in Chrome - https://github.com/zen-audio-player/extension-chrome/issues/18

[2016-01-16 09:08] #30 closed

[2016-01-16 09:57] shakeelmohamed commented on #3
This is done in prototype form now! -> https://github.com/zen-audio-player/zap-cli

[2016-01-16 09:57] #3 closed

[2016-01-16 10:14] shakeelmohamed opened #137 "How can we refactor our code?"
I made a terrible sin working on [zap-cli](https://github.com/zen-audio-player/zap-cli) by copy/pasting some code over to [`contrib.js`](https://github.com/zen-audio-player/zap-cli/blob/master/contrib.js).
This is definitely not ideal, and entirely unmaintainable.

What can we do to avoid this?

I'm thinking we could break out utility functions into a new repository, then either
1. ~~Use git submo

[2016-01-16 13:30] agauniyal commented on #136
Latest commit 7af47a1 on Dec 11, 2013
100+ Issues
15 PR's not merged - back from 2012

:open_mouth:

[2016-01-16 20:36] shakeelmohamed commented on #136
@agauniyal Yeah, but it works really well! If it works, I'm not concerned about it being maintained

[2016-01-16 21:53] shakeelmohamed commented on #136
Here's an alternative:

https://plyr.io/ - https://github.com/selz/plyr
![capturfiles_1](https://cloud.githubusercontent.com/assets/1480063/12374649/eb855f62-bc56-11e5-8bfa-6f8de7ec6753.png)

They actually have a YouTube player that we could use with just 1 line of css (to hide the video).

### After

![capturfiles_2](https://cloud.githubusercontent.com/assets/1480063/12374692/6a1536a8-bc58-11e5-9

[2016-01-17 04:10] monicacheung commented on #137
I don't understand what zap-cli is. Can you add some use case?

[2016-01-17 04:11] shakeelmohamed opened #138 "Enhance MS Edge UI"
Related to #128 - see https://github.com/zen-audio-player/zen-audio-player.github.io/pull/128#issuecomment-172261984

[2016-01-17 04:15] monicacheung commented on #136
Plyr looks nice. It says it's customizable too... Who wants to play around with this? :laughing:

[2016-01-17 04:19] shakeelmohamed commented on #137
[code]

Background: you're a developer, and live in the terminal.

0. Somebody gives you a YouTube URL
0. You open a terminal and type `zap ` then paste the URL, then hit enter
0. The URL gets parsed and http://zen-audio-player.github.io opens in your default browser as either a video lookup or a search

[2016-01-17 07:10] monicacheung commented on #137
I don't know about Node.js but couldn't it be done in a few lines in a shell script? Something like...

get the status code of "curl -I <input or http://youtubeblahblah...input>"
if 200 OK, open <youtube url>
else, "open http://zen-audio-player.github.io/?q=input"

Why do we need to have so much dup code?

[2016-01-17 07:18] ecnepsnai commented on #32
We now own zenplayer.audio

[2016-01-17 07:29] shakeelmohamed commented on #32
@ecnepsnai Thank you, this is really awesome! Ping me and we can get the DNS configured :smiley:

[2016-01-17 07:32] shakeelmohamed commented on #137
Well, that's making an extra HTTP request. Doing it in Node gives us full cross-platform support, and it's actually not that much duplicated code but we can do better.

[2016-01-17 10:42] monicacheung commented on #2
It only makes sense to have one player at any time, so this might not be a problem.

Also consider not loading a player for pages without ```?v=```? Right now youtube player is there but hidden.

[2016-01-18 08:12] #138 closed

[2016-01-19 03:27] shakeelmohamed commented on #137
If we do this, we'll need to break out the common logic - then include it via npm/bower. Submodules will be adding too much friction to the process

- Pro: We will have really solid common code, and can write unit tests.
- Con: Contributing to any of the 3 projects (website, Chrome extension, CLI) becomes more complicated since editing common code will involve changes to 2 repos

[2016-01-19 08:36] monicacheung commented on #137
Is there downside of the extra HTTP request? It can let us fail early too.
Refactoring code for the website would be good. But I don't see benefit of reusing code in other projects if what you want can be requested.

[2016-01-19 23:37] shakeelmohamed commented on #137
Not necessarily, but it's bad design and could add unwanted amount of delay if the request takes over say 100ms. This isn't an option for the Chrome extension as it needs to be an instant operation, or it will be unusable.

[2016-01-20 18:40] shakeelmohamed opened #142 "Version Number"
From the survey I sent out recently, some people were in favor of using a version number for the website.
As part of the discussion from #137, using bower for the common code will force us to use a version number at least for that module.

------

If we want to implement version number for this repo, we'll need a versioning strategy. We have a few options:

- Every merge to master is a new version

[2016-01-21 18:28] justinmao commented on #142
Feels unnecessary. Your target audience is likely to be composed of people who don't care what version the website is, nor would they be interested in looking into previous/upcoming versions, as long as it works. Rather, I think the focus should be on usability/functionality/style.

[2016-01-22 03:27] #91 closed

[2016-01-23 19:38] shakeelmohamed opened #145 "Cleanup JavaScript issues identified by CodeClimate"
[![Code Climate](https://codeclimate.com/github/zen-audio-player/zen-audio-player.github.io/badges/gpa.svg)](https://codeclimate.com/github/zen-audio-player/zen-audio-player.github.io)

[![Issue Count](https://codeclimate.com/github/zen-audio-player/zen-audio-player.github.io/badges/issue_count.svg)](https://codeclimate.com/github/zen-audio-player/zen-audio-player.github.io)

You can see the list

[2016-01-28 17:53] joshghent commented on #136
I'm looking to contribute to this project so I'll take a look.

[2016-01-28 18:28] shakeelmohamed commented on #136
Thanks @joshghent

[2016-02-05 08:37] shakeelmohamed opened #146 "If searching with a string containing &, the right side will be ignored"
This is likely happening somewhere in `$("#form").submit()` in `js/everything.js`, possibly more than just 1 place.

A trivial solution could be replace " & " with "and"

[2016-02-05 10:08] #142 closed

[2016-02-06 18:24] eirism commented on #146
From my testing it seems to be the parsing of the search query. The regex in https://github.com/zen-audio-player/zen-audio-player.github.io/blob/master/js/everything.js#L415 removes the & (and #) from the text. I think we should encode special characters in the search query to fix this.

While testing this, I discovered another bug. If you search for something that contains a #, the next click on

[2016-02-06 23:07] shakeelmohamed commented on #146
@eirism throw some tests at this patch, and let me know what you find

[code]

[2016-02-07 13:48] eirism commented on #146
Both problems seems to be solved with that code change.

[2016-02-07 18:04] #146 closed

[2016-02-07 18:17] shakeelmohamed commented on #6
We need some coverage for #146

[2016-02-14 14:15] BlinkBP commented on #5
I made some mess with those commits. Sorry, I'm figuring Github out.
The app works fine on my Android smartphone (Chrome on Android 5.0.2).
I am not able to look into iOS issues though because I do not own any Apple product. I read [here](http://stackoverflow.com/questions/16513620/youtube-api-not-working-in-ios-iphone-ipad-but-working-fine-in-desktop-browser) that it may be possible to play video

[2016-02-14 21:44] shakeelmohamed commented on #5
@BlinkBP Just confirmed that it works on Android with your fix, but the player will pause when switching apps. For iOS, I'm content with saying we don't support it. The iOS specific API is very aggressive and forces a full screen player, we can't workaround this unless we make an iOS app.

![](https://cloud.githubusercontent.com/assets/1480063/10120326/709c123a-646a-11e5-9b62-1ee058a72792.png)

[2016-02-15 08:50] shakeelmohamed commented on #137
Just merged #141! Now I just have to figure out how to move the contents of `zap-common.js` into the https://github.com/zen-audio-player/zap-common repo

[2016-02-19 01:30] shakeelmohamed opened #151 "Create issue & PR templates"
https://github.com/blog/2111-issue-and-pull-request-templates

Also do this for the other repos

[2016-02-23 22:25] #93 closed

[2016-02-23 22:27] shakeelmohamed opened #152 "Additions to contributing notes"
- [x] Add steps for resolving out of sync branches (which ironically, you will need to do for this PR)
- [x] After you've had 1 PR merged, @shakeelmohamed should add you to the organization. Then you can create any issues you work on before you start. Leave a comment when you've started working on an issue, doing so helps avoid duplicate work."

[2016-03-02 09:49] shakeelmohamed commented on #125
I totally forgot about this!
This patch works for regular playback, but not for search (we still see the error box)

[code]

[2016-03-04 07:26] shakeelmohamed commented on #145
Once we cleanup these ~[20 issues](https://codeclimate.com/github/zen-audio-player/zen-audio-player.github.io/issues), we can add code climate to the status checks required for each PR

[2016-03-10 01:27] shakeelmohamed opened #156 "Persist volume via html5 localStorage"
Problem: the volume seems to max out when opening a new tab, which is very bad for headphone users :smiley:

The change is very similar to #70, but we actually do want to use `localStorage`, not `sessionStorage`

[2016-03-12 18:32] eirism commented on #145
I have started to refactor some of the offending code. I can fix the other issues if this looks good.

[2016-03-12 18:47] shakeelmohamed commented on #145
Rock on @eirism!

[2016-03-12 18:50] eirism commented on #145
What should we do about the console statements? Just get rid of them?

[2016-03-12 18:56] shakeelmohamed commented on #145
You can integrate in the following settings to the `.codeclimate.yml` file - we already have the `eslint` property

[code]

[2016-03-12 19:02] eirism commented on #145
What function are [this line](https://github.com/zen-audio-player/zen-audio-player.github.io/blob/d51a1be04ba29e85af5078eb33f6bcce2001b4a8/js/everything.js#L475) referencing?

[2016-03-12 19:15] shakeelmohamed commented on #145
That's hilarious! It's for `parseYoutubeVideoID()`, which is in `zap-common.js`, just remove the TODO since we actually do need the function

[2016-03-12 19:28] eirism commented on #145
I think everything except for the css issue (and one single TODO) is fixed now. Removing the css property breaks the layout, so I don't know what to do about it.

[2016-03-12 19:50] shakeelmohamed commented on #145
@eirism We're up to a 4.0 grade now! :tada:

[2016-03-12 20:07] eirism commented on #145
@shakeelmohamed We can fix the css issue by removing [this](https://github.com/zen-audio-player/zen-audio-player.github.io/blob/8fe17390f1d5f8806303db9c839ae958daf04268/css/styles.css#L93) line. It is overridden by inline styles in the html. If we do that, there is only one issue left!

[2016-03-12 20:36] shakeelmohamed commented on #131
We won't need to do this if #136 goes in since plyr already has working tooltips for the time seek slider, and I'd argue it's not really important for the volume slider.

I'll leave this issue open until we get plyr working

[2016-03-12 20:39] shakeelmohamed commented on #132
Since this is basically a dupe of #131, we don't need to do it once #131 goes in.

Leaving this open until plyr is working

[2016-03-12 21:08] shakeelmohamed commented on #145
@eirism I'm good with that change, you're welcome to make a PR for it. The other TODO is 100% on me :astonished:

[2016-03-12 22:01] shakeelmohamed commented on #145
This is now blocked on me to add some analytics

[2016-03-12 22:44] #145 closed

[2016-03-13 00:16] #151 closed

[2016-03-13 00:26] divayprakash commented on #151
@shakeelmohamed If you still need issue and PR templates for the other repos you mentioned, just give me the names and I'll add those too.

[2016-03-13 00:36] shakeelmohamed commented on #151
@divayprakash Sure, I don't have an immediate need on the other repos at the moment but I'll let you know when the time comes!

[2016-03-13 00:52] shakeelmohamed opened #164 "Fix tests commented out from redesign"
We commented out some tests in #155, and need to fix them

[2016-03-13 01:34] shakeelmohamed commented on #156
Deciding not to do this since Plyr does it already. See #153

[2016-03-13 01:34] #156 closed

[2016-03-13 20:30] #32 closed

[2016-03-14 07:52] divayprakash commented on #164
I'd like to work on this but I need a clarification. This basically requires un-commenting tests in the `tests/index.js` file only right?

[2016-03-14 08:16] divayprakash commented on #152
Working on it!

[2016-03-14 08:45] shakeelmohamed commented on #164
@divayprakash that's the first step, you'll need to update those tests since the HTML structure has changed a bit. Let me know if you have any questions around how the selectors work

[2016-03-14 08:55] divayprakash commented on #152
To add steps for resolving out of sync branches, I'd like to do the following -
* recommend that any contributors make changes on a separate branch and not try to push to master
* clean up history properly after PR is merged

@shakeelmohamed that okay?

[2016-03-14 09:08] shakeelmohamed commented on #152
For out of sync branches, you can just take a screenshot like I did [here](https://github.com/zen-audio-player/zen-audio-player.github.io/pull/155#issuecomment-196088196) and explain how to read the scary looking text.

Not really an issue, nobody has permission to push to the master branch of this repo unless all tests pass in a PR, and more importantly only I can approve a merge.

I'm not really

[2016-03-14 17:29] divayprakash commented on #152
@shakeelmohamed
* For out of sync branches, are [these](https://help.github.com/articles/syncing-a-fork/) the instructions leading from the screen shot?
* About the first addition I suggested, I understand your point so there is no need for that.
* About the second addition, I suggested that so that we can avoid any issues with that branch later on, such as the out-of-sync issue etc

[2016-03-14 17:58] shakeelmohamed commented on #152
1. yes
2. :smile:
3. I don't think I understand what you're saying, can you think of an example scenario?

[2016-03-14 18:57] divayprakash commented on #152
@shakeelmohamed Have a look and tell me what you think.

Regarding
1. Ok.
2. Yeah........sorry, my bad!
3. I'll get back to you.

[2016-03-14 20:02] #152 closed

[2016-03-14 20:02] shakeelmohamed commented on #152
Done in #165

[2016-03-15 22:32] apoorvnandan commented on #164
As per the changes in #155, I changed the commented tests in the following manner:
If the commented test was

`assert.ok(browser.query("header > figure > a > img.logo").src.indexOf("img/zen-audio-player-905.png") !== -1);`

and I saw that the class of header > figure > a > img was changed in #155 from 'logo' to 'img-100' and that `<a href="https://zenplayer.audio/" title="Zen Audio Player">` was c

[2016-03-15 22:47] #164 closed

[2016-03-16 06:06] shakeelmohamed opened #167 "Update screenshot"
Thanks to @YuriBrunetto we recently got an awesome redesign! We need an updated screenshot for the README :tada:

[2016-03-16 15:25] YuriBrunetto commented on #167
What if we use a mockup? It'll shows both web and mobile screens

[2016-03-16 15:54] shakeelmohamed commented on #167
Why not real screenshots?

[2016-03-16 15:57] YuriBrunetto commented on #167
What I mean was: using **real** screenshots in a mockup. :smile:

[2016-03-16 17:11] shakeelmohamed commented on #167
Go for it

[2016-03-18 03:20] #167 closed

[2016-03-18 03:32] shakeelmohamed opened #169 "Update contributing guidelines with steps to update screenshot"
To close the loop on https://github.com/zen-audio-player/design-resources/issues/1, we should update the contributing guidelines with steps to update the screenshot. We can probably just add a checkbox and a link to the design resources repo

[2016-03-21 01:30] shakeelmohamed commented on #169
Done!

[2016-03-21 01:30] #169 closed

[2016-03-26 02:22] shakeelmohamed opened #170 "Add npm start command to spin up a web server"
I've been meaning to create this work item for a while... We have some features that require the site to be run on a web server due to API restrictions (YouTube search, getting the video description). The only way to test these properly is to copy everything onto a web server like MAMP or XAMPP, and very inconvenient. At least for me, the only thing slowing me down during development is this awkwa

[2016-03-26 06:26] agauniyal commented on #170
won't headless testing browsers help here? eg phantomjs & [others](https://github.com/dhamaniasad/HeadlessBrowsers)

[2016-03-26 06:35] shakeelmohamed commented on #170
@agauniyal You're correct, we actually use [Zombie](http://zombie.js.org/) for headless tests. I'm thinking more about the development workflow of manually testing/using the site to make sure everything works as expected in production.

[2016-03-29 20:19] apoorvnandan commented on #1
Playlist URL for Billboard Top Songs 2016 is `https://www.youtube.com/watch?v=HL1UzIK-flA&list=PL55713C70BA91BD6E`

We can load playlists using the YouTube API with the function `loadPlaylist` like this
`player.loadPlaylist({'list':'PLV74gdMl9L6V3OLsFvRMbf85uys4jOGVy'});`

This makes the playlist appear as a sidebar. The sidebar slides out from the left on clicking a button at the top-left corner

[2016-03-29 21:28] monicacheung commented on #1
I think it's 100% we are going to use plyr. We have a PR for incorporating plyr.

[2016-03-29 21:32] shakeelmohamed commented on #1
@apoorvnandan This sounds like a great approach!

We're currently working on getting plyr support in #153.
Do you want to start with mocking up the design for how playlists might look?
Ideally this work will start after #153 is merged

[2016-03-31 06:58] shakeelmohamed commented on #125
This is still a bug :sob:

[2016-03-31 07:43] shakeelmohamed commented on #71
This doesn't seem like a good of anyone's time, closing.

[2016-03-31 07:43] #71 closed

[2016-03-31 07:49] shakeelmohamed opened #172 "Remove browserstack logo (new contributors only)"
#### I'd like a new contributor to do this

Since we're not going to do #71 we don't need to say we're "sponsored by" browserstack.

Done criteria:

- [x] Remove the logo from `index.html`
- [ ] Make sure the design is still responsive, and the previous step didn't have any side effects
- [ ] Update the screenshot/mockup in the README

Focus on the first step, if you run into issues with the other

[2016-03-31 08:13] #170 closed

[2016-03-31 08:15] shakeelmohamed opened #174 "Update README to include running locally"
To run the site locally, run `npm install` then `npm start` and a webpage will open in your default browser.

We should add a note to `README.md`.

See #170

[2016-03-31 14:30] divayprakash commented on #174
Working on it.

[2016-03-31 16:25] apoorvnandan commented on #1
I'll start with some mocks till #153 gets merged. From what I read on plyr's [documentation](https://github.com/selz/plyr), playlists is in the "planned development" section so we will have to display our own list.
I was thinking of something simple and similar to [audio.js](https://github.com/kolber/audiojs) playlists:
![selection_019](https://cloud.githubusercontent.com/assets/8300539/14182907/2

[2016-03-31 17:57] #174 closed

[2016-03-31 19:19] shakeelmohamed commented on #1
@apoorvnandan We might start by adding playlist support to Plyr, then work on integrating playlist functionality here once #153 is done. Does that make sense?

Ping @SamPotts: what's your take on this? What can we do to help move https://github.com/Selz/plyr/issues/3 along?

[2016-03-31 22:42] YuriBrunetto commented on #172
:+1: :smile:

[2016-04-01 16:47] apoorvnandan commented on #1
Yeah that makes sense. I would like to help in adding playlist support to Plyr too.

[2016-04-08 00:37] guillermohernandez commented on #172
Jumping in on this

[2016-04-08 01:54] shakeelmohamed opened #178 "Add support for Twitter Cards"
It would be really nice to show something (not the thumbnail obviously) in a Twitter card when a https://zenplayer.audio link is shared. Can we show the actual player, something like soundcloud? ([example](https://twitter.com/davidguetta/status/522843748066013185))

Need to brainstorm this a bit, but the [docs for Twitter cards are here](https://dev.twitter.com/cards/overview).

[2016-04-08 03:55] #172 closed

[2016-04-08 04:04] shakeelmohamed opened #180 "Add an h1 to README saying "Zen Audio Player""
After we changed logos, I forgot to make this task. The old logo was basically text, so we didn't have this problem then.

 - [ ] Below the logo in `README.md` add a markdown h1 of `Zen Audio Player`

[2016-04-08 05:18] divayprakash commented on #180
Working on it!

[2016-04-08 05:30] #180 closed

[2016-04-08 05:33] shakeelmohamed opened #182 "Update "Try it out" link in readme"
Forgot to update the URL to zenplayer.audio :relaxed:

[2016-04-08 05:49] divayprakash commented on #182
Working on it!

[2016-04-08 05:53] divayprakash commented on #182
@shakeelmohamed Shouldn't we also update the 'Listen to' link also?

[2016-04-08 05:56] shakeelmohamed commented on #182
Yep!

[2016-04-08 06:08] divayprakash opened #184 "Volume issue"
So I really don't know if this is a bug or its by design, but I tried listening to a video on `zenplayer.audio`  and didn't have any volume! Poked around a bit and found that the last time I'd used YouTube, I had the volume on 'mute' and closed it that way.

[2016-04-08 06:16] #182 closed

[2016-04-08 06:23] shakeelmohamed commented on #184
Wow, this is a great bug! Plyr actually has a mute button in the volume controls, that will intuitively solve this problem. Stay tuned for #176 to be merged!

[2016-04-08 22:14] shakeelmohamed commented on #125
@monicacheung I think this may only happen when running the site locally. I see all the console errors, but everything works as expected...

[2016-04-08 22:22] monicacheung commented on #125
We can close this if you don't think it's a problem? I haven't been able to see this problem at all.

[2016-04-08 22:26] shakeelmohamed commented on #125
No idea :smiley:

[2016-04-08 22:26] #125 closed

[2016-04-10 18:23] shakeelmohamed commented on #1
When we get around to this, we may want to use OAuth so users can listen to their private playlists (including watch later)

[2016-04-11 10:27] monicacheung commented on #2
@shakeelmohamed Working on adding Soundcloud support in plyr

[2016-04-15 06:39] josectello commented on #49
What's the progress on this so far? Ironically, I'm a newbie (at Zen Audio Player) and I'm looking for an approachable issue to tackle. I was wondering if docs would be a good place to start. :)

[2016-04-15 06:44] shakeelmohamed commented on #49
Welcome @josectello! Beyond `README.md` and `CONTRIBUTING.md`, there's a few loose ends on [the wiki](https://github.com/zen-audio-player/zen-audio-player.github.io/wiki/Contribution-flow). See if you can add a new page there just to test it, I may need to give you permissions

[2016-04-15 19:01] josectello commented on #49
Thanks @shakeelmohamed. I went ahead and made a minor change to the front page of the wiki (mainly formatting), let me know if that looks alright!

As for `CONTRIBUTING.md`, is that something you guys would want to have in the repo? If so, I can fork and begin drafting something that expands more on contributions than the `Contributions` page of the wiki.

[2016-04-15 19:21] shakeelmohamed commented on #49
Thanks @josectello, glad you have permissions - I've added you to the org!

We actually need the `CONTRIBUTING.md` file to show the banner you see when creating a new issue or pull request. We might want to reduce the contents of the file and move some content to the wiki, I think the length of the file may be intimidating to new users. What do you think about that?

[2016-04-15 19:56] josectello commented on #49
I think I got it. So we want a quick start guide with maybe some screenshots of submitting a PR/issue for clarity to new users. Yeah I think that's a great idea.

Just making sure, there isn't currently a `CONTRIBUTING.md`, right? I looked through and didn't appear to find one.

[2016-04-15 19:59] shakeelmohamed commented on #49
@josectello it's actually in the `.github` directory, I forgot we moved it

[2016-04-16 17:04] divayprakash commented on #48
Would an addition to the `README.md` work for this?

[2016-04-16 17:13] divayprakash commented on #48
Something similar to 'browser badge' as you mentioned in a separate section at the end of the `README.md`

[2016-04-16 19:38] shakeelmohamed commented on #48
@divayprakash yeah `.github/README.md` would be great, as part of #5 we might do something on the website as well

[2016-04-16 23:01] josectello commented on #49
@shakeelmohamed Thanks, I'll get started on that this Monday.

[2016-04-18 04:58] shakeelmohamed opened #189 "Update primer to version 3.x (new contributors only)"
We have a dependency on a UI framework called [primer](https://github.com/primer/primer), and we should update to the latest version as we're behind a few versions.

Done criteria:

- [ ] Take a screenshot of the website running locally for you (Once you have [Node.js](https://nodejs.org/) installed, `npm install` then `npm start`)
- [ ] Update primer (we use [bower](http://bower.io/), so you'll n

[2016-04-18 04:59] #48 closed

[2016-04-21 04:58] josectello commented on #49
Work has been keeping me very busy for the past few days. Hopefully I will begin to work on this tomorrow.

[2016-04-25 09:57] divayprakash commented on #189
I'm willing to take this on if its not a problem because of the 'new contributors' thing. Seems people aren't responding because its been 7 days since you put this up. Let me know what you think!

[2016-04-25 17:40] shakeelmohamed commented on #189
Thanks, this is low priority so I'm okay with waiting for a new contributor

[2016-04-26 02:29] divayprakash commented on #189
No problem!

[2016-04-26 03:23] shakeelmohamed commented on #49
No worries @josectello

[2016-04-26 05:18] shakeelmohamed commented on #178
@divayprakash want to look at this?

[2016-04-26 08:43] akkatracker commented on #189
I'm new! I'll give it a look, newish to js, thanks for the easy steps!

[2016-04-26 13:30] divayprakash commented on #178
Cool feature to add! Soundcloud has done some serious work on theirs and it'd be great if we could come up with something along the same lines.

[2016-04-28 04:25] #189 closed

[2016-04-28 20:28] Jago-Kosolosky commented on #178
If I'm not mistaken (first-timer here) we would need a Twitter Player Card (https://dev.twitter.com/cards/types/player). Doesn't look like too much work, but one of the conditions is:

I guess this would have to be sorted out first?

[2016-04-28 20:41] shakeelmohamed commented on #178
@Jago-Kosolosky yeah that looks about right. We have an SSL cert so https://zenplayer.audio works. Do we need to "force" SSL by redirecting http://zenplayer.audio to https://zenplayer.audio? Or, will only the https links trigger the player card?

[2016-04-28 20:52] Jago-Kosolosky commented on #178
@shakeelmohamed I think for the Twitter cards we can just use https and it should work. However, I would recommend (no clue how to do this) "forcing" a redirect to https every time for SEO reasons is links start being shared et cetera. Will have a look at the Twitter Player Card asap!

[2016-04-28 20:59] shakeelmohamed commented on #178
@Jago-Kosolosky great! I have https forced for my personal website so, I should be able to figure it out here. Thanks for your efforts

[2016-04-29 05:14] shakeelmohamed commented on #178
We now default to https!

[2016-04-30 04:58] divayprakash commented on #178
@shakeelmohamed Working on this.

[2016-05-01 06:36] #136 closed

[2016-05-01 06:40] shakeelmohamed opened #192 "Resolve CSS hacks using !important"
See the list of CSS warnings due to the use of `!important`: https://codeclimate.com/github/zen-audio-player/zen-audio-player.github.io/pull/176

Done criteria:

- [ ] Achieve the same UI effect without using `!important` in `css/styles.css`
- [ ] remove HACK comment in the stylesheet
- [ ] add the stylelint rule back to `.stylelintrc`: `"declaration-no-important": true,`

[2016-05-01 06:41] shakeelmohamed commented on #184
This is now fixed!

[2016-05-01 06:41] #184 closed

[2016-05-01 06:43] shakeelmohamed commented on #132
Plyr support has been merged in with #176, there is a tooltip for the time slider 🎉 . Give it a try!

[2016-05-01 06:43] #132 closed

[2016-05-01 06:44] shakeelmohamed commented on #131
We no longer need this since plyr support has been added, check it out!

[2016-05-01 06:44] #131 closed

[2016-05-01 06:52] shakeelmohamed opened #193 "Add support for linking to a specific time position"
In YouTube videos, you can set the `t` query string parameter to the number of seconds you want to start the video at. IE: [`https://www.youtube.com/watch?v=koJv-j1usoI&t=30`](https://www.youtube.com/watch?v=koJv-j1usoI&t=30) to start 30 seconds into the video.

General guidance:

* Call `getParameterByName(window.location.href, "t")` to get the value from the query parameter
* Update `window.sess

[2016-05-01 07:02] shakeelmohamed commented on #49
@josectello Do you want to triage the the comments/description in this issue? I'd like to see 2 lists, todo & done.

[2016-05-01 07:06] josectello commented on #49
@shakeelmohamed I was just thinking the other day a list would be great. I'm away this weekend, but I'll hop on that Monday evening!

[2016-05-01 07:07] shakeelmohamed commented on #1
FYI @apoorvnandan we've added plyr support now. If you're going to do this, don't worry about the UI at all. Leave a comment on the plyr issue as well when/if you start on this: https://github.com/Selz/plyr/issues/143

[2016-05-01 07:08] shakeelmohamed commented on #49
@josectello perfect, thanks a ton!

[2016-05-01 10:50] yoshrubin commented on #192
I'd love to work on this, I would need a bit of direction regarding what exactly needs to be fixed @shakeelmohamed

[2016-05-01 11:30] divayprakash commented on #178
`twitter:site`
The Twitter @username the card should be attributed to. Required for Twitter Card analytics.

@shakeelmohamed What should I put in here?

[2016-05-01 12:11] divayprakash commented on #178
@shakeelmohamed Sorry to not be of much help but I'm unable to understand what value to set this to also:

`twitter:player`
HTTPS URL to iframe player. This must be a HTTPS URL which does not generate active mixed content warnings in a web browser

[2016-05-01 12:33] apoorvnandan commented on #1
The plyr player looks great. I have my final exams going on so I'll start the work after four days.

[2016-05-01 16:47] shakeelmohamed commented on #1
@apoorvnandan sounds like a plan, good luck with exams!

[2016-05-01 16:52] shakeelmohamed commented on #192
@yoshrubin great, ping me on our gitter chat room if this isn't clear.

At the bottom of `css/styles.css` I've temporarily added some CSS hacks to workaround Plyr's new UI. The goal is to achieve this same effect without using `!important` in the CSS rules.

[code]

To understand the visual effects, here's the before & after

![](https://cloud.githubusercontent.com/assets/1480063/14940126/ff2cf896

[2016-05-01 17:16] shakeelmohamed commented on #178
The Twitter @username the card should be attributed to. Required for Twitter Card analytics.

If you don't have a twitter account, you an use mine for now `@_shakeel`

HTTPS URL to iframe player. This must be a HTTPS URL which does not generate active mixed content warnings in a web browser

Ah. Okay so we actually need to create an iframe player that contains just the plyr player. We need to crea

[2016-05-01 21:09] divayprakash commented on #178
@shakeelmohamed Thanks for the help, I'll get back to you on Gitter if I need anything else.

[2016-05-02 13:45] yoshrubin commented on #5
Easy fix for iOS message might be checking User-Agent then redirecting to a html page saying that there's no compability atm, also site didn't work on android 6.0 for me

[2016-05-02 17:00] shakeelmohamed commented on #5
@yoshrubin I'm not surprised. I'm happy to say we don't support mobile at all for now. We can dynamically change the contents of `index.html`, I don't think it makes sense to do a redirect. About line 411 and beyond in `js/everything.js` is where the code change should be. A bonus would be logging a Keen event when we get a mobile session

[2016-05-02 22:31] josectello commented on #49
@shakeelmohamed Would it be easier to open up a new issue with a list of tasks that can be ticked off in markdown? I don't think I can edit any comments/descriptions on here except my own.

[2016-05-03 00:27] shakeelmohamed commented on #49
@josectello yep that would be perfect

[2016-05-03 01:04] #192 closed

[2016-05-03 04:57] shakeelmohamed opened #197 "Update the screenshot - plyr support"
I keep forgetting to do this every time the UI changes 😅

See #177 for how this works.

cc: @guillermohernandez @YuriBrunetto you folks want to do this since you've done it before ❓

[2016-05-03 15:30] guillermohernandez commented on #197
@shakeelmohamed on it

[2016-05-03 21:13] josectello opened #201 "Documentation"
This issue is here to track the progress of updating, trimming down, and adding to the current Zen Audio Player docs & wiki pages. The four files/sections for docs are as follows: `CONTRIBUTING.md`, `ISSUE_TEMPLATE.md`, `PULL_REQUEST_TEMPLATE.md`, and the Wiki pages.
The main tasks that we are prospectively looking to address are:

- [ ] Decide what amount of content to move from markdown files (C

[2016-05-03 21:14] josectello commented on #201
Hey @shakeelmohamed, let me know if you'd like to revise anything here. I based this off the original list in the other issue. Perhaps we can also close issue #49 once this one looks good to go.

[2016-05-03 21:53] shakeelmohamed commented on #49
Closing in favor of #201, which is more organized thanks to @josectello

[2016-05-03 21:53] #49 closed

[2016-05-03 22:01] shakeelmohamed commented on #201
I've left some comments bold inline above to help whoever ends up doing these tasks, thanks for triaging @josectello!

[2016-05-05 00:09] josephmagee commented on #193
Is this supposed to add an option in the interface where you can select what second to start from? Or only in the case that someone knows the URL? If so, I'd need to know where. I can take a look at this, though. I'm a newbie when it comes to OSS so if you have something with less of a priority I can take that.

[2016-05-05 00:14] shakeelmohamed commented on #193
@josephmagee Just in the URL, you can play around with YouTube's `t` query parameter to get a feel for how it should work. Give it a try, I'm happy to help if you need clarification on anything 😄

[2016-05-08 05:15] josectello commented on #201
@shakeelmohamed Are we thinking of adding any future content (from the list) to only the Wiki pages or do you think any of these items will require PR's - or the creation of another markdown file?

[2016-05-08 06:31] shakeelmohamed commented on #201
@josectello aside from the first item on the list, I think the others make sense being on the wiki. What do you think?

[2016-05-08 19:45] josectello commented on #201
@shakeelmohamed I like the idea of having denser content in the Wiki, but I often find myself (when looking through open source repos) completely forgetting that a Wiki tab even exists.

What about inserting a link someplace on the main `README.md` to the Wiki?

[2016-05-08 21:19] shakeelmohamed commented on #201
@josectello that makes sense, we can add a link to the end of the contributing section of the README 👍

[2016-05-11 05:37] shakeelmohamed opened #202 "Update the demo logic to use a random video every time"
We currently have a single hardcoded song, and it's an amazing song! 😀
I'm thinking we can add a bit of variety now by (for now) storing a hardcoded array of songs by video ID.

Some song suggestions:

- [Cazzette - Together (Lost Kings Remix)](https://www.youtube.com/watch?v=EBerFisqduk)
- [Disclosure - Magnets (A-Trak Remix) ft. Lorde](https://www.youtube.com/watch?v=zBIE8waeHCI)
- [The Temper T

[2016-05-14 21:26] shakeelmohamed commented on #202
Done in #203 by @hjh17!

[2016-05-14 21:26] #202 closed

[2016-05-14 21:50] shakeelmohamed commented on #193
@hjh17 I think you can do this 💪

[2016-05-18 03:45] shakeelmohamed opened #204 "Add audio visualization"
First of all, I'm not sure if this is even possible since we don't have direct access to audio files (for YouTube or Soundcloud), but it would be a cool option to add.

Of course this needs to be off by default otherwise it defeats the purpose of this project 😃

One possible viz library we can use is [Wayou/HTML5_Audio_Visualizer](https://github.com/Wayou/HTML5_Audio_Visualizer) as long as we leav

[2016-05-18 03:50] shakeelmohamed commented on #204
A blog post on creating a custom viz: https://www.patrick-wied.at/blog/how-to-create-audio-visualizations-with-javascript-html

[2016-05-19 01:16] shakeelmohamed commented on #197
Done in #205, thanks @YuriBrunetto!

[2016-05-19 01:16] #197 closed

[2016-05-21 05:22] shakeelmohamed commented on #110
A better choice for this is [js-url](https://github.com/websanova/js-url) we'll be able to get an object of query args by doing something like `url("?", window.location.href)`

[2016-05-25 04:32] FleetAdmiral commented on #5
@shakeelmohamed Hey can i take up this issue?

[2016-05-25 07:20] shakeelmohamed commented on #5
@FleetAdmiral please do! I've removed the "up for grabs" label

[2016-05-25 07:48] FleetAdmiral commented on #5
@shakeelmohamed Alright , will get onto it!

[2016-06-01 04:37] shakeelmohamed commented on #6
more potential guidance: https://github.com/Krinkle/travis-ci-node-and-browser-qunit

[2016-06-03 04:26] shakeelmohamed commented on #5
@FleetAdmiral hey, any status update? 😄

[2016-06-03 04:28] FleetAdmiral commented on #5
@shakeelmohamed  Will be done by tonight.

[2016-06-03 04:29] shakeelmohamed commented on #5
@FleetAdmiral excellent!

[2016-06-03 14:29] MrAnyone commented on #204
Using a WebGL library is the best way to do that, because audio processing is in real time (can be at 60FPS) and the WebGL is the only that have the power to render at 60FPS, making the visualizer veeery smooth.

Currently I use [Pixi.js](https://github.com/pixijs/pixi.js)

[2016-06-03 14:59] shakeelmohamed commented on #178
See the discussion in #198 to see why this is blocked

[2016-06-14 21:27] shakeelmohamed commented on #178
Impossible unless we render HTML `<meta>` tags on the server-side - which isn't possible as long as we're hosted on GitHub pages AFAIK. Thanks to @divayprakash for leading the exploration on this work!

[2016-06-14 21:27] #178 closed

[2016-06-16 21:16] #5 closed

[2016-06-18 20:25] shakeelmohamed opened #214 "Run csscss on css/styles.css"
Steps:

* install [csscss](https://github.com/zmoazeni/csscss)
* run `csscss css/styles.css`
* leave a comment below with any warnings
* fix any warnings, or create an issue with the list of warnings

[2016-06-19 05:31] rohshar commented on #214
{#audioplayer .plyr__controls} AND {.tt-menu} share 3 declarations
{#audioplayer .plyr__controls}, {.tt-menu} AND {footer} share 3 declarations

I will try to fix the redundancies

[2016-06-19 17:16] #214 closed

[2016-06-19 19:08] shakeelmohamed commented on #2
@zen-audio-player/contributors this is up for grabs now. See the work in progress in #216, please work off of that branch

[2016-07-01 16:15] rjstires commented on #110
js-url is great for `getYouTubeVideoDescription()` but that's really about it. You could use the URL mutation benefits of URI.js (or similar library) in everything.js where you're mutating the URL.

[2016-07-04 08:51] yoshrubin opened #222 "Autoplay Feature from Youtube"
I'm looking to add the "Autoplay" feature from Youtube (can have a on/off toggle) I use it all the time when streaming music on Youtube and think it would be a great feature added here.
A starting point might be [here](https://developers.google.com/youtube/) to check the API and get some sample code.

[2016-07-04 10:08] #193 closed

[2016-07-13 07:42] cipher1729 commented on #222
The 'Autoplay' parameter in the youtube player API controls whether the video automatically starts playing when it's loaded. Since that's not applicable here,  did you mean the "automatic playing of next video" feature ?  Would anything be available in the API for that  ?

[2016-07-13 08:13] yoshrubin commented on #222
Yea, the automatic playing of next is what I want to implement, not sure if there is a API for that havent had a chance to look.

[2016-07-13 08:38] cipher1729 commented on #222
Ok, interesting feature if it could be integrated. I'll also look into it

[2016-07-19 14:35] artforlife opened #223 "Add Thumbnails to List Returned After Search"
It seems to me that this would make the app more friendly to the eye. Often, I would like to re-listen to same videos or mixes. I generally recognize them by their thumbnails.

I could probably implement this feature (just starred your repo, so it may take me some time to get familiar).

[2016-07-19 14:36] artforlife opened #224 "Create a Desktop and Mobile App (Using Electron?)"
Is this in the plans? Or has this been done? Perhaps Electron can be used.

[2016-07-19 20:16] shakeelmohamed commented on #224
I've thought about this, but haven't gotten around to it. Are you interested in starting work on it? I can make a separate repo

[2016-07-19 20:18] shakeelmohamed commented on #223
I agree that this makes sense, but does it defeat the purpose of hiding the visuals? I'm open to a pull request, ping me on email or gitter if you need anything 👍

[2016-07-19 23:51] shakeelmohamed opened #225 "Video IDs containing - don't parse correctly"
For video URLs like ` https://www.youtube.com/watch?v=UAWcs5H-qgQ` only `UAWcs5H` is parsed out. The bug is likely somewhere in `js/zap-common.js`.

Also:

* `https://www.youtube.com/watch?v=i-b4wn2TPRI` only `i` is parsed

[2016-07-20 02:24] artforlife commented on #224
I am interested. Would we need to fork or do pull requests?

[2016-07-20 02:24] artforlife commented on #223
Will do. I am gonna have a look at the code in next couple days.

[2016-07-20 03:09] shakeelmohamed commented on #224
Fork + pull request, I've made the repo at [zen-audio-player/app-electron](https://github.com/zen-audio-player/app-electron). I left some notes for you in https://github.com/zen-audio-player/app-electron/issues/1 - feel free to create issue on that repo to start tracking your work

Thanks for taking this on, closing this issue since we have a dedicated place for it now.

[2016-07-20 03:09] #224 closed

[2016-07-20 05:34] cipher1729 commented on #225
Both the above URLs seem to work just fine.  Could you please elaborate on how to reproduce this issue?

[2016-07-20 05:39] shakeelmohamed commented on #225
@cipher1729 sure, go to either of these URLs:
* https://zenplayer.audio/?v=https://www.youtube.com/watch?v=UAWcs5H-qgQ
* https://zenplayer.audio/?v=https://www.youtube.com/watch?v=i-b4wn2TPRI

[2016-07-20 08:38] cipher1729 commented on #225
I've found a fix for it.  I'll create a pull request

[2016-07-20 10:31] rjstires commented on #225
This would inherently be addressed by PR #110

[2016-07-22 00:50] rjstires commented on #225
Will be closed by #226

[2016-07-27 17:12] artforlife opened #227 "Add Ability to Select Playback Quality"
This should mimic the Youtube's range of 480 - 1080P of stream quality.

It would also be nice to implement an algorithm that analyzes the actual sound quality. That is, often people upload a CD quality which is 44kHz but the video will be HD, so Youtube will state 1080P. Perhaps we can output bitrate or something along those lines.

[2016-07-27 17:20] artforlife opened #228 "Show Track Timemarks If Original Video Has Them in Description"
For instance, this video has track names and their start times in its description. It would be neat to show these once the user starts playback of the video.

https://www.youtube.com/watch?v=PEQEOP1zh_c

[2016-07-27 19:50] artforlife opened #229 "Create A To-Be-Played and Have-Played Queue"
We could add a queue, similar to that of Mixcloud (bottom bar) that shows the things one played recently or allows to queue things to be played next.

[2016-07-27 23:17] cipher1729 commented on #229
I am working on issue #222. Along with the basic feature, I am also keeping track of the songs played till now (it's stored in a browser session variable ).  That can be integrated into a GUI to show 'played recently' and a 'new queue' ?

[2016-07-28 02:07] artforlife commented on #229
Is there a separate branch for your feature?

[2016-07-28 06:17] shakeelmohamed commented on #228
Awesome idea!
Look at what we did in `anchorURLs()` in `everything.js`, we basically need to define another regex for replacing timestamps with the timestamped URLs.

Cases:
* hh:mm:ss - 12:34:56
* h:mm:ss - 1:23:45
* mm:ss - 12:34
* m:ss - 1:23 (this will also deal with videos under 1 minute by doing 0:12)

We'll also need to compute the time in seconds from the above possible string formats, the

[2016-07-28 06:19] shakeelmohamed commented on #229
@artforlife Is there something we still need to do for this if #222 and #1 are added?

[2016-07-28 06:35] shakeelmohamed commented on #227
Don't forget 144p & 240p 😆
We'll probably have to implement this in Plyr, luckily there's already an issue for on their repo (https://github.com/Selz/plyr/issues/218). The challenge is, we can't upgrade until https://github.com/Selz/plyr/issues/199 is done because the latest version of Plyr will break our UI. There's some discussion about this in https://github.com/Selz/plyr/issues/189

cc @SamPot

[2016-07-28 06:36] shakeelmohamed commented on #1
@apoorvnandan are you still interested in doing this? 😃

[2016-07-28 08:48] cipher1729 commented on #229
@artforlife  No, there's no branch yet for my feature.  I'm still pushing changes to my fork

[2016-07-28 09:46] artforlife commented on #229
@shakeelmohamed Well, I do not use the Youtube playlist feature. What is it like in a nutshell? I am envisioning a sort of To-Play-Later queue. Think of this as bookmarking certain things with intention to return to them later.

[2016-07-28 15:22] apoorvnandan commented on #1
Yes, I'm interested! :)
Are we making our own playlists using plyr or working on the plyr issue ([Selz/plyr#3](https://github.com/Selz/plyr/issues/3)) first? Because it seemed to me they were working on optimizing the player by enabling it to break a video into multiple short videos and playing them smoothly one after the other without the user noticing whereas we were about to provide support for

[2016-07-28 15:25] artforlife commented on #227
Is there a way to get this info using Youtube API? After all, we probably want a switch for the user to select the quality he wants.

[2016-07-28 15:42] shakeelmohamed commented on #227
I think so, you'd have to look into the iframe API docs, should be able to find that page with a quick search

[2016-07-29 00:04] shakeelmohamed commented on #1
@apoorvnandan I see. maybe we should implement it without Plyr. We might be waiting for a very long time otherwise.

I think this should be an option, not sure what the right default value would be. This is basically just the native autoplay feature for YouTube. I'm curious if it "just works" if we call `loadPlaylist` on the YouTube iFrame API directly - might be worth trying out

[2016-07-29 00:05] shakeelmohamed commented on #229
@artforlife that's basically it. YouTube actually has a special "watch later" playlist designed just for this purpose

[2016-07-29 15:45] apoorvnandan commented on #1
I'll check it out and see if it works.

[2016-07-29 17:32] hogniRunar commented on #228
I´ll send in a pull request for this after the weekend. Got it mostly sorted I think

[2016-07-30 13:45] artforlife opened #233 "Hitting Space Bar Makes The Player Screen Scroll"
I think we should enable Pause-Play response when hitting the space bar. At the moment, it makes the window scroll to the bottom.

### Important
Mark with [x] to select. Leave as [ ] to unselect.

### When reporting a bug/issue:
- [ ] Screenshot
- [ ] The browser, browser version and the operating system you're using
- [ ] The behavior you expect to see, and the actual behavior
- [ ] Steps to repr

[2016-07-30 13:48] artforlife commented on #223
Sent PR #232 for this. May need some cleaning up.

[2016-07-30 17:58] shakeelmohamed commented on #233
Good idea, this should be relatively easy we just need to make sure it's noop if there's no video loaded yet.

Media key support would be ideal but will have to be done through a browser extension, see https://github.com/zen-audio-player/extension-chrome/issues/18

[2016-08-02 09:03] apoorvnandan commented on #1
Are there some restrictions associated with our Youtube API Key?
When I attempt to get the list of playlist items using
`GET https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyCxVxsC5k46b8I-CLXlF3cZHjpiqP_myVk&part=snippet&id=PLx0sYbCqOb8QTF1DCJVfQrtWknZFzuoAE`

I get the following response.
[code]

[2016-08-02 14:50] shakeelmohamed commented on #1
You need to make the request from a web server. If you add a jquery get to everything.js and log the output you can run npm start then look in the browser console.

[2016-08-03 20:24] sync350 commented on #233
I'll go ahead and get working on this if that's okay with you guys. Shouldn't take too long to hack something up.

[2016-08-03 20:27] shakeelmohamed commented on #233
Go for it @sync350! Let us know if you need anything

[2016-08-04 06:18] #228 closed

[2016-08-08 16:05] artforlife commented on #233
Yes, this would be a great addition!

[2016-08-08 16:06] artforlife commented on #229
Is there a PR for this yet? Perhaps we can see a screenshot or something.

[2016-08-09 04:46] shakeelmohamed commented on #229
@artforlife there is no PR yet

[2016-08-26 16:23] jeanPokou commented on #233
I am working on this issue

[2016-09-07 05:48] #233 closed

[2016-09-07 06:05] #225 closed

[2016-09-15 04:30] shakeelmohamed commented on #1
@apoorvnandan ping 😃

[2016-09-16 17:22] apoorvnandan commented on #1
@shakeelmohamed I'm so so sorry for the late response. I actually had the playlist URLs working fine about 2 weeks ago but I did not give an update here as I wanted to check the code for bugs and also clean it up (remove all the console.logs :) ) Shall I open a PR to discuss the changes I have made?

[2016-09-17 03:10] shakeelmohamed commented on #1
@apoorvnandan please do!

[2016-09-22 06:08] #110 closed

[2016-09-22 06:14] shakeelmohamed commented on #229
We discussed some ideas in #212, tying this "later" playlist to YouTube/Soundcloud accounts is my preferred approach.

[2016-10-01 01:28] shakeelmohamed commented on #229
FYI, we can use [Auth0](https://auth0.com/pricing) for free until we week 7k users - not likely to happen 😄 The full tutorial is [here](https://auth0.com/docs/quickstart/spa/jquery) we'd just need to request the appropriate YouTube permission scope for Google account login.

I'm not sure how we'd handle Soundcloud if we went that route... any ideas?

[2016-10-03 04:19] timchoh585 commented on #204
I would go as far to say that even creating something with D3 could be a good solution as well.  Not too familiar with how this would handle out compared to Pixi.js I would like to try and implement a version with D3 just because i am more familiar with it.  But because of some D3 limitations that could pop up, I will also look into Pixi.js

[2016-10-03 04:56] shakeelmohamed commented on #204
@timchoh585 go for it! It looks like @MrAnyone is using [audioContext](https://github.com/MrAnyone/YouTube-Audio-Visualizer/blob/master/src/ytav.js#L300) to get audio data, more on there [here](http://www.html5rocks.com/en/tutorials/webaudio/intro/)

[2016-10-03 05:09] timchoh585 commented on #204
@shakeelmohamed thanks! I will definitely be working on this throughout the week! I'll try and keep this as updated as possible

[2016-10-03 05:10] shakeelmohamed commented on #204
@timchoh585 excellent, please ping me if you need anything

[2016-10-08 09:44] hemoali commented on #229
#### I would like to start working on this issue if possible 😄  , my approach will be: ####
- Store the videos the user have played in a queue (which is stored in localStorage)
- When the user selects one video from the queue, the video will start playing (the queue will be displayed below the "Click for Demo" button)
- The user can delete videos from the playing queue.
- Allow the user to drag/re

[2016-10-08 20:38] shakeelmohamed commented on #229
@hemoali thanks for jumping in!

I see this feature as a 2 part implementation:

1. Add the Auth0 authentication flow to authenticate with YouTube via Oauth. Then using the authentication token, retrieve items from the users's YouTube "Watch Later" playlist.
2. Integrate with some of the work in #244 to deal with the playback of the playlist.

[2016-10-08 22:55] shakeelmohamed commented on #2
@zen-audio-player/contributors FYI, I've updated the description of this issue. The goal is to now have a separate repo for Soundcloud.

[2016-10-09 17:04] FleetAdmiral commented on #201
Is the discussion still on for this?

[2016-10-09 18:29] shakeelmohamed commented on #201
@FleetAdmiral Definitely, I'd like to see these items done one at a time FYI

[2016-10-10 16:58] FleetAdmiral commented on #201
@shakeelmohamed  Cool with me, can i pick any item too look into or is there an order you'd like to follow?

[2016-10-10 17:25] timchoh585 commented on #204
@shakeelmohamed sorry, got pretty busy with school and work. should have something to show within the week.

[2016-10-10 18:12] shakeelmohamed commented on #201
@FleetAdmiral you can start with any of them

[2016-10-10 19:44] hemoali commented on #229
@shakeelmohamed I'm working on it now, but I've some problems with YouTube API authentication using the tokens retrieved from Auth0 (cannot find the right flow). However, I'll keep searching and if you have any advice/tutorial, it will be much appreciated 😄

[2016-10-10 20:03] shakeelmohamed commented on #229
@hemoali did you see this guide? https://auth0.com/docs/quickstart/spa/jquery

[2016-10-10 20:20] hemoali commented on #229
@shakeelmohamed Yeah sure, I've followed this tutorial and the last piece of it  (https://auth0.com/docs/quickstart/spa/jquery/08-calling-apis) gave me the 401 error when calling the YouTube API. However, from what I've understood (from the searches I've been doing) that the access token of the services we need to use (e.g. YouTube) is kept hidden for security reasons, and to get this access_token

[2016-10-10 20:24] hemoali commented on #229
Well looks like this is the correct flow to achieve secure process 😄
<img width="722" alt="screen shot 2016-10-10 at 10 23 34 pm" src="https://cloud.githubusercontent.com/assets/1636587/19249962/56611b50-8f38-11e6-9860-9e90abe748d6.png">

[2016-10-10 22:39] hemoali commented on #229
@shakeelmohamed I've tried the Google APIs, and the authentication process went very well. But the shock was that YouTube API disabled the access to "Watch Later" and "Watch History" from the API after Sep. 15 2016 😞  as shown [here](https://developers.google.com/youtube/v3/revision_history)

<img width="536" alt="screen shot 2016-10-11 at 12 34 54 am" src="https://cloud.githubusercontent.com/asse

[2016-10-10 22:45] shakeelmohamed commented on #229
@hemoali ouch. I know I ran into this on another project, https://github.com/shakeelmohamed/youtube-watch-later/issues/2 but I didn't realize the data simply isn't available anymore.

One workaround (so we don't have to deal with a database) is using a "Zen Audio Player" playlist (create it if it doesn't exit).

[2016-10-11 13:27] FleetAdmiral commented on #2
I'll take it up, however i'd love it if others could help me out on this too!

[2016-10-12 20:57] hemoali commented on #229
Just to keep others updated:

What I've added:

- Sign the user in using Google Javascript Library (OAuth2).
- Create the app playlist named 'Zen Audio Player'. If the user already has a playlist with this name, the app will use it instead of making new one (To handle clearing localStorage or using Zap across many devices).
- When the user plays a video, it gets added to the playlist (unless it's

[2016-10-12 21:11] shakeelmohamed commented on #229
Overall though, I think you've got the right approach for the implementation. I'm excited to see the PR 🎉

@hemoali I'm not interested in entering the copyright infringement legal mess around this feature. Moreover, the website is 100% hosted by GitHub pages for free and there is no "backend" server to host mp3s. We don't support mobile devices, so I don't see an issue around data usage for most u

[2016-11-28 04:37] #223 closed

[2017-03-29 18:30] erikasf commented on #201
Hi,
Is this still a need? If so I would like to help out on this issue. I"m a first time open source contributor if thats okay with you all, having a newb mucking things up?

[2017-03-29 18:38] shakeelmohamed commented on #201
@erikasf Yes please! Ping me if you have any questions

[2017-04-21 15:05] xianrusso opened #248 "Trivial Suggestion: Return to "Home" when input is deleted"
This is the "Home" I was referring to:
<img width="1440" alt="screen shot 2017-04-21 at 4 58 55 pm" src="https://cloud.githubusercontent.com/assets/22627739/25283410/fc2e38de-26b3-11e7-8d89-be0cdcc121cc.png">

... and when I enter content in the input:
<img width="1552" alt="screen shot 2017-04-21 at 5 01 17 pm" src="https://cloud.githubusercontent.com/assets/22627739/25283469/2f02fba0-26b4-11e7-8

[2017-04-21 19:27] shakeelmohamed commented on #248
@xianrusso that's a great suggestion and pretty easy to implement! Feel free to submit a PR

[2017-04-21 20:21] xianrusso commented on #248
@shakeelmohamed Awesome, I'll get started on it!

[2017-04-22 05:38] andy-shi88 opened #250 "Trivial suggestion: add a checkbox to apply auto replay / loop"
It's really a trivial feature I think some of us would like to have.

- Able to control wether to stop a song or just auto replay [infinite loop] the song by one simple checkbox when the song ended.
by the way, the app is really interesting.
Let me know what you think

[2017-04-23 05:54] shakeelmohamed commented on #250
Thanks for the suggestion @andy-shi88! If you want to submit a PR I'm happy to review it.

In the `timeupdate` event listener (around line 218 in `js/everything.js`) we'd just need to compare `plyrPlayer.plyr.embed.getCurrentTime()` with `plyrPlayer.plyr.embed.getDuration()`. When the current time is the duration, we can set the current time to 0 with `plyrPlayer.plyr.embed.seekTo(0)`.

[2017-04-23 06:38] andy-shi88 commented on #250
@shakeelmohamed ok, I'll start working on it :smile:

[2017-04-24 19:12] andreasvirkus commented on #204
Would it be ok to take a crack at this?

[2017-04-25 04:43] shakeelmohamed commented on #204
@andreasvirkus go for it, maybe go with the blue we use for links? Let's get something working then we can tweak the colors later

[2017-04-25 18:14] #250 closed

[2017-04-27 19:34] andreasvirkus commented on #204
After two nights of tinkering, I'm calling out for some help (if a solution exists at all).
All of the AV libs rely on `AudioContext`, which can be accessed through an HTML5 `<video>` or `<audio>` element. Since youtube doesn't allow CORS, we can't access the video element in the iFrame. So we'd need the url for YT's source files to create our own tag (which we can scrape). But YouTube's blocked a

[2017-04-27 19:42] andreasvirkus commented on #204
I stumbled upon [https://github.com/JamesKyburz/youtube-audio-stream](youtube-audio-stream), which I can try out over the weekend.

[2017-04-27 20:00] MtMercer commented on #204
Hey there, I know what problem you are having. I made the Youtube Audio Visualizer in the way it works because when you get the video *inside the same page of youtube* you bypass the CORS restriction, and I was very bad at programming :-1:.

Well, time passed and last year @hoboman313 [implementing huegasm](https://github.com/hoboman313/huegasm) **as a chrome extension** contacted me to solve this

[2017-04-28 06:02] andreasvirkus commented on #204
Hi @MtMercer! Awesome to know about the tab capture. If the audio streaming libraries don't work out, then it's nice to have a working back-up and I guess that's the way we'll have to go. Just seems that making a solution Chrome-only and requiring an extension seems very limiting though.

[2017-04-28 14:21] MtMercer commented on #204
@andreasvirkus

IKR, sadly the web audio API is not so 'open' for developin currently.

You are welcome! Any questions about how to capture message me. In my vacations I implemented a very small web audio visualization library (very small) and I hope to continue developing it. I got the same effect of this video [Oscilloscope](https://www.youtube.com/watch?v=qnL40CbuodU).
[Visualadio](https://gith

[2017-05-09 00:21] YuriBrunetto opened #252 "DISCUSSION: redesign of Zen Audio Player"
# Why?
As a front-end developer who's also a _little bit_ designer, I always try to think in how to make things more beautiful (for me, of course).

## The redesign
So, I've decided to make a redesign - and it's just a start idea for you guys see and tell me what do you think about it. Oh, and I don't think that the current design is bad, is just an idea for improvement. [You can check out the ent

[2017-05-10 06:27] shakeelmohamed commented on #252
Hi @YuriBrunetto these are a great start, thanks so much!

Here's some suggestions:

* If we can make the gradient be the full height of the page let's do that.
* The red/orange backgrounds for buttons, search results & the player seem to clash with the nice gradient background

[2017-05-12 10:12] Hadaev-Ivan commented on #204
Hi guys! Accidentally peeped your conversation) I created  chrome extension "Music Storm", it have similar idea)  if you have any questions I can help you)
[https://chrome.google.com/webstore/detail/music-storm-visualize-any/egmilngkgddnnmkpkonkpkjkipiihmkh](url)

[2017-05-12 19:32] shakeelmohamed commented on #204
Thanks @Hadaev-Ivan - any chance you can open source your extension? Or maybe you'd like to submit a PR for this 🎉

[2017-05-15 01:30] gpigatto commented on #252
Hey @YuriBrunetto great design, but i think that the colors palette should be rethinked. Something more opaque would be a better choice.

[2017-05-15 16:56] Sahil624 commented on #252
Nice Work @YuriBrunetto.I think you can use material theme maybe materializecss. I think it will go good with it

[2017-05-15 17:05] YuriBrunetto commented on #252
@shakeelmohamed so, I guess we can make the gradient with full height and create a ℹ️  button in the right corner which when you click it, it'll show the Zen Player's sponsors

I agree about the colors, I'll pick something different

[2017-05-15 17:07] YuriBrunetto commented on #252
@gpigatto thanks! Yeah, agree. I'll pick something more opaque, indeed

[2017-05-26 06:25] mubaris commented on #248
@xianrusso If you are not working on this, I would like to take this.

CC: @shakeelmohamed

[2017-05-26 16:04] shakeelmohamed commented on #248
@mubaris see #249, it's in progress but not complete.

[2017-06-11 13:01] vlastapolach commented on #227
Hi, I found in 3 sources that since 2014 youtube streams separate audio - for 144p and for 1080p the same..

“YouTube streams video and audio separately and the web player/app combines them on the fly. Due to this, the audio bitrate is not directly affected by video quality like in the past.” https://www.h3xed.com/web-and-internet/youtube-audio-quality-bitrate-240p-360p-480p-720p-1080p

“Starting

[2017-06-11 18:41] shakeelmohamed commented on #227
@vlastapolach great find! It would be nice to still use 480p when available to reduce bandwidth consumption

[2017-06-26 16:50] parimatrix commented on #252
I would like to contribute to the redesigning too.
My suggestion would be to include three tabs at the top as a theme selector:
low key data usage efficient version. a gradient based look. a material design based look.
Can I start working towards this too? New to open source. sorry for any basic mistakes.

[2017-06-26 16:51] shakeelmohamed commented on #252
@parimatrix go for it! Ping me on gitter if you need anything

[2017-06-27 18:12] Utkarshbhimte commented on #229
Is this issue still up for grabs?

[2017-06-27 18:18] shakeelmohamed commented on #229
@Utkarshbhimte yep, go for it!

[2017-07-13 15:20] andy-shi88 commented on #229
what's the status of this issue? I think I could make multiple playlist on localstorage here, that'd be great I think for us to listen to multiple group of songs and keeping it simple at the same time. 👍 what do you think?

[2017-07-13 18:50] shakeelmohamed commented on #229
@andy-shi88 this hasn't implemented yet, go for it if you're interested!

[2017-07-28 16:39] avalan4e57 commented on #229
I think that my last pull request closes this issue also. Tell me if am I right or there's still something to work on the issue.

[2017-07-31 21:42] shakeelmohamed commented on #229
@avalan4e57 this issue is asking for a different feature than #258

[2017-09-05 05:26] imnotjohn commented on #252
I am also interested in this...and like the idea of different themes.

[2017-09-05 05:43] shakeelmohamed commented on #252
@imnotjohn see #253, there is some work in progress - feel free to start there and submit a new PR

[2017-09-14 05:33] shakeelmohamed commented on #7
No longer

[2017-09-14 05:33] #7 closed

[2017-09-26 20:34] jacobkjhan commented on #252
Hey Shakeel! I'm new to contributing and I'd love to work out some of my designing skills. Is this still up for grabs? Thanks!

[2017-09-26 20:38] shakeelmohamed commented on #252
@jacobkjhan go for it! Until this issue is closed, it will be up for grabs

[2017-09-27 15:51] jacobkjhan commented on #252
@shakeelmohamed I was wondering if this was the kind of look that you would have wanted. Let me know what you think.
<img width="1678" alt="screen shot 2017-09-27 at 11 49 59 am" src="https://user-images.githubusercontent.com/23072695/30923569-34161c42-a37a-11e7-84b0-fe7ea911e427.png">
<img width="1670" alt="screen shot 2017-09-27 at 11 50 06 am" src="https://user-images.githubusercontent.com/2307

[2017-09-27 17:35] shakeelmohamed commented on #252
@jacobkjhan not a bad first cut! I like the rounded design, here's some thoughts:

* can we get the search box rounded on the left side?
* the yellow is a bit harsh, can we make it a bit lighter or less opaque?
* the anchor text is barely readable with blue on blue, maybe make it light gray or a very light blue?

[2017-09-27 18:40] jacobkjhan commented on #252
<img width="1680" alt="screen shot 2017-09-27 at 2 39 28 pm" src="https://user-images.githubusercontent.com/23072695/30931131-b8da23bc-a391-11e7-83b9-627ae16636c8.png">
<img width="1680" alt="screen shot 2017-09-27 at 2 39 45 pm" src="https://user-images.githubusercontent.com/23072695/30931132-b8dcdeb8-a391-11e7-9889-651e663583b1.png">

Here are some screenshots of the updated changes. Let me know

[2017-09-27 22:46] shakeelmohamed commented on #252
The yellow still looks a bit odd, and still can't clearly see the link text. The search box looks much nicer now

[2017-09-28 19:10] jacobkjhan commented on #252
Sorry I'm submitting so many versions. Want to make sure that things are the way you want them to be :) Let me know what you think about the darker background.

![screen shot 2017-09-28 at 3 08 49 pm](https://user-images.githubusercontent.com/23072695/30985697-0c6e59f8-a45f-11e7-8f0a-e8323a8d499d.png)
![screen shot 2017-09-28 at 3 08 35 pm](https://user-images.githubusercontent.com/23072695/309856

[2017-09-28 20:39] shakeelmohamed commented on #252
@jacobkjhan I love it!

[2017-09-28 22:02] jacobkjhan commented on #252
Awesome! I'll make a PR for the changes. I have another question, with how I altered the html, I am no longer passing two tests. One being:

1) Page Structure should have logo configured correctly:
     TypeError: Cannot read property 'src' of null
     at Context.<anonymous> (test/index.js:73:78)

and the other being:

2) Page Structure should have expected elements:
     AssertionError [ERR_ASSE

[2017-09-28 22:50] shakeelmohamed commented on #252
@jacobkjhan sure, those changes to the test code seem reasonable

[2017-09-29 16:50] YuriBrunetto commented on #252
Hey guys! So sorry for the delay, I'm working like hell lately.. hahah

Well, I guess I'll create a new branch and then code the new layout version there. What do you think about this, @shakeelmohamed? Then we could see what we can make better, etc.

Also, it's very nice to see other people helping us out!

Cheers 🤓

[2017-09-29 16:52] shakeelmohamed commented on #252
@YuriBrunetto my attitude is always, go for it!

[2017-10-10 14:48] michaelolivar opened #265 "Repeat Track not working."
hope repeat track will work soon,.

[2017-10-10 18:29] shakeelmohamed commented on #265
@michaelolivar thanks for reporting the bug!

[2017-10-12 01:02] geekyd commented on #265
@shakeelmohamed I tested https://zenplayer.audio/. It seems like the repeat track i snot working.

[2017-10-12 04:01] #265 closed

[2017-10-12 04:05] shakeelmohamed commented on #248
This was fixed with #257

[2017-10-12 04:05] #248 closed

[2017-10-12 10:16] geekyd opened #268 "Make the color of seek bar darker"
Currently the seek-bar is barely visible, it would be great to make it a little darker for better visibility.

Current:
![screen shot 2017-10-12 at 3 43 39 pm](https://user-images.githubusercontent.com/12807846/31491246-5017a0c8-af64-11e7-9ec6-05f85b0733ab.png)

Expected:
![screen shot 2017-10-12 at 3 44 38 pm](https://user-images.githubusercontent.com/12807846/31491251-537f7f06-af64-11e7-9130-1c5

[2017-10-13 16:07] caseyprovost commented on #137
@shakeelmohamed are you looking to move zap-common into a Bower module that you can then import?

[2017-10-16 06:58] #268 closed

[2017-10-16 07:05] shakeelmohamed commented on #137
@caseyprovost originally that was the idea. It seems that the JavaScript ecosystem has shifted from bower towards webpack and just using node modules - I think we can follow that model to stay modern. Out of that process, we might go ahead and port our codebase to es6 while we're at it if there's a compile step involved in the release process

[2017-10-21 13:02] sombek commented on #252
@YuriBrunetto Hey dude.
I would like to contribute to help with coding the new UI. I liked your design.
If there is any way that I could help. Please let me know😁

[2017-10-21 18:44] lazy-sunshine commented on #222
is this issue still open for working?

[2017-10-23 05:33] shakeelmohamed commented on #222
@lazy-sunshine sure, see the work that was started in PR #258 by @avalan4e57. It hasn't been touched in months so you can finish it up based on the feedback I left there. Feel free to ping me with any questions

[2017-10-25 19:03] riya-17 opened #271 "Add Download Feature"
Download feature will be a good help for the users, who loves to download a specific Audio of youtube.

[2017-10-25 20:31] shakeelmohamed commented on #271
Hi @riya-17, thanks for your suggestion!
Due to legality reasons, I don't think we'll ever implement this.
See the discussion in https://github.com/sampotts/plyr/issues/193 for some other thoughts.

[2017-10-25 20:31] #271 closed

[2017-10-30 06:45] shakeelmohamed commented on #227
Closing as this doesn't seem like something worth doing.

[2017-10-30 06:45] #227 closed

[2017-10-30 16:46] flordeciruela commented on #252
@YuriBrunetto Hello!

The design is improving and can now suggest that a "hide" and "show" speed parameter be applied.
Regards.

[2017-10-30 22:05] YuriBrunetto commented on #252
@sombek hey 😄
Nice! You could transform the design to CSS, if you want to. 😉

[2017-10-31 05:31] #252 closed

[2017-11-17 16:58] michaelolivar opened #275 "please Add Download Button"
please add download button in next update for mp3 and mp4 file, hope my pull request will granted :) :+1:

[2017-11-17 17:50] shakeelmohamed commented on #275
Thanks for your request @michaelolivar.
Closing as dupe of #271, due to legal issues we will not add download functionality for YouTube videos.

[2017-11-17 17:50] #275 closed

[2017-12-11 11:54] brechtdedecker commented on #201
Hello, I'm a first time open source contributor as well, please could you tell me what still has to be done of the documentation ? Thx in regard

[2017-12-11 18:32] shakeelmohamed commented on #201
Welcome @brechtdedecker! Please see the original post on this issue for the checklist of uncompleted items

[2018-02-01 08:25] shakeelmohamed opened #278 "While playing a song, hide the "click for demo" button"
The demo button should only be visible when nothing is playing.
This change should be pretty small in `everything.js`.

<img width="522" alt="capturfiles_2" src="https://user-images.githubusercontent.com/1480063/35668408-419f1722-06e6-11e8-9941-4f2d7fea99b9.png">

[2018-02-01 08:46] shakeelmohamed opened #279 "Clicking show X, then hide X, the button text doesn't change back to show X"
This should be a pretty simple change to `everything.js`

![zoeyfnr0gv](https://user-images.githubusercontent.com/1480063/35669233-3eda0a08-06e9-11e8-91f5-1a285e3b5ec2.gif)

[2018-02-01 19:26] Ma7eer commented on #279
First timer here will try to work on this one!

[2018-02-01 21:32] #279 closed

[2018-02-01 21:33] shakeelmohamed commented on #279
Sorry @Ma7eer, somebody beat you to the PR.  Check out #278 for another good first bug

[2018-02-02 12:49] nilesh2014 commented on #278
Hi @shakeelmohamed!
Is demo button allowed below search-results and also in case of any error for searching video?

[2018-02-02 18:27] shakeelmohamed commented on #278
@nilesh2014 sure that's reasonable

[2018-02-04 20:13] Kelby-Baca commented on #201
Hi, I'm a somewhat experienced contributor. I'm working on the third item on the list.

[2018-02-13 21:26] #278 closed

[2018-02-13 21:45] shakeelmohamed commented on #201
@Kelby-Baca thanks! I've re-ordered the list so completed tasks are at the bottom. That task is now first on the list

[2018-03-09 18:20] Etanyauh commented on #2
I wanted to know the status of this issue. Is it still possible to contribute to this issue? I have tried following what has been happening to this issue, but in the end I got nowhere. It seems that there was separate repo but nothing seems to be there. In short, can I work on it?

[2018-03-09 19:23] shakeelmohamed commented on #2
@Etanyauh The last time this was in progress was in PR #216, you can use that branch as a starting point but there are several merge conflicts which I haven't resolved.

[2018-09-30 11:12] reemtariqq commented on #2
anyone on this ?

[2018-10-01 17:19] shakeelmohamed commented on #2
@reemtariqq see my previous comment, there hasn't been any movement on this for quite some time

[2018-10-02 11:59] chandan1794 commented on #229
Is it still open? I'd like to have a shot on it.
I'd try without OAuth, just localStorage.

[2018-10-02 16:08] shakeelmohamed commented on #229
@chandan1794 go for it!

[2018-10-03 02:04] shakeelmohamed opened #293 "Upgrade zombie to v6"
We're currently using Zombie 4.x, and need to update to the latest 6.x.

Reproduction Steps:

* run `npm upgrade zombie`
* run `npm test` and see the tests will now fail in a few places, and the process will hang at the end.

How to complete this task:

* Ensure you're running Node.js 8+
* Update the zombie dependency version as shown above
* Consult the [zombie docs](http://zombie.js.org/) to upd

[2018-10-03 02:27] jkmdev commented on #293
I'd like to take care of this one if it's alright with you.

[2018-10-03 04:51] shakeelmohamed commented on #293
@jkmdev thanks, please do!

[2018-10-03 05:34] jkmdev opened #295 "Trackjs bower dependency creating an error when tests are run"
This issue was discovered when I began work on #293. I was updating Zombie 4.x to Zombie 6.x and making existing tests compatible with the newer Zombie version.

I decided to run the tests before updating the dependency, and realized that there was already some unexpected output. One of the bower dependencies (trackjs) was creating the following error:

![image](https://user-images.githubuserconte

[2018-10-03 21:07] jkmdev commented on #295
@shakeelmohamed alright, will do

[2018-10-10 21:08] #293 closed

[2018-10-10 21:08] shakeelmohamed commented on #295
Fixed with #296

[2018-10-10 21:08] #295 closed

[2018-10-11 07:55] shakeelmohamed opened #299 "Add snyk support to CI for dep vulns"
See docs here: https://snyk.io/docs/ci for `Node.js CI integration`

When ready for a token, I'll send over a patch with the encrypted token in `.travis.yml` for use in CI.

[2018-10-12 04:49] sachincool commented on #299
I want to take a try at this one :+1:  :smiley:

[2018-10-12 16:01] shakeelmohamed commented on #299
@sachincool awesome, go for it!

[2018-10-13 18:07] sachincool commented on #299
I worked my way with Setting repository variables, But I left a comment in the `.travis.yml` incase you want to encrypt your token and add. @shakeelmohamed

[2018-10-16 19:59] shakeelmohamed opened #301 "Add support for time_continue querystring value"
`time_continue` should be treated the same as the `t` querystring value.

Example URL format:

`https://www.youtube.com/watch?time_continue=137&v=XYZ`

This format seems to be used with embedded videos.

[2018-10-19 21:35] alaajerbi commented on #301
Hi @shakeelmohamed , can I work on it? :wink:

[2018-10-19 21:36] shakeelmohamed commented on #301
Go for it @alaajerbi!

[2018-10-23 01:44] #299 closed

[2018-10-23 02:40] fchikwekwe commented on #201
Hi there! I'm a first time contributor. I would like to help you with the first issue on your list involving the issue and PR templates. Did you just want them to be more succinct?

[2018-10-23 04:52] shakeelmohamed commented on #201
@fchikwekwe yeah, they're just too verbose and aren't providing much value. Go ahead and make a PR, we can discuss once you've started

[2018-10-23 05:11] fchikwekwe commented on #201
@shakeelmohamed I submitted a PR with some suggestions for changes. Feel free to look over it and let me know which direction you'd like for me to go.

[2018-11-09 16:49] johnachor commented on #301
@alaajerbi are you still working on this? If it's okay, I'd like to. @shakeelmohamed

[2018-11-25 21:10] joaniedavis commented on #6
@shakeelmohamed It looks like this issue is pretty old. Is it still relevant to work on? If so, do you have any tips on how I could get started?

[2018-11-26 18:44] shakeelmohamed commented on #6
@joaniedavis there's plenty to do :) I would spend a few minutes playing around with the website and look to add some test that hit basic scenarios:

* searching and making sure there search results are returned
* clicking one of those search results
* ensuring a video has started playing (by checking that the time has increased from `0:00` after a 2 second delay)

That's just one example, feel fr

[2018-11-28 00:57] joaniedavis commented on #6
@shakeelmohamed I've spent some time digging through the code and the tests and I think I have a sense of how to write some more. Here's the basic list I'm thinking of starting with:
* Searching and making sure results are returned
     * If more than 5 results, only display 5
     * If no results, display an error message
* Ensuring a video has started playing
* Expected behavior for clicking on

[2018-11-30 17:57] shakeelmohamed commented on #26
Keen has changed business models and have removed thr free open source plan we were using before. I’ll open another issue to remove all keen code 😤

[2018-11-30 17:57] #26 closed

[2018-11-30 18:01] shakeelmohamed opened #306 "Remove keen code"
Keen has removed the free tier for open source projects, so we’re going to stop using them for analytics.

[code]

I’ll probably get to this one pretty soon, but the main thing is remove all places we’re capturing keen analytics and remove the JS include.

Follow up for this is to delete the dashboards repo

[2018-12-02 01:44] #306 closed

[2018-12-02 20:44] shakeelmohamed commented on #6
@joaniedavis yeah those seem like a great starting place. Yes, feel free to split up the tests into smaller files

[2018-12-07 00:17] joaniedavis commented on #6
@shakeelmohamed I'm working on this still, but progress is slower since the current code structure is challenging to test.  Do you have thoughts on breaking up `everything.js` into smaller modules? I'd understand if you'd prefer to avoid a total structural overhaul, and if that's the case, do you have any thoughts on how to unit test some of the above functionality?

[2018-12-07 03:12] shakeelmohamed commented on #6
@joaniedavis thanks, take your time. I'm more concerned with having functional tests that simulate user behavior than unit tests at this time.

I think once we have sufficient functional tests we can think about a refactor into smaller modules. The main reason I started this was out of simplicity because I didn't want to introduce a build step since the website is hosted statically with GitHub pag

[2018-12-07 05:58] shakeelmohamed opened #308 "Add a "Focus" button"
Some sounds such as pure isochronic tones (similar to binaural beats) help me focus quite a bit, and I'm sure it would help others.
One of the main reasons I originally made Zen Audio Player was to help me *focus* on something more important and let YouTube videos play in the background.

The focus button would redirect to `https://zenplayer.audio/?v=pJ5FD9_Orbg&t=7200` which is my favorite one av

[2018-12-12 13:44] nvamsikrishna05 commented on #308
I would like to work on this.

[2018-12-13 23:05] joaniedavis commented on #6
@shakeelmohamed I've spent a couple hours trying to get some additional functionality tests implemented, but I'm afraid I don't understand Javascript and the test framework well enough to make major improvements. Would you like me to submit the changes I have to just split up the tests into more manageable files anyway?

[2019-01-11 07:01] OmarTahoun commented on #308
I have added a function that does that as well as makes the focus button disappear when current URL is the focus URL

[2019-01-11 21:44] wolffles opened #315 "Adjusting the Sponsors"
Currently it's off center and looks kind of strange like there should be another image loading next to it. After reviewing the code I noticed that there used to be another sponsor but it's been removed. I fixed the page for now. would be cool to make a dynamic css layout to change if more sponsors were added.

also side note, very cool project just found it today!

[2019-01-14 17:53] shakeelmohamed commented on #315
Closed by #314

[2019-01-14 17:53] #315 closed

[2019-01-14 18:12] shakeelmohamed commented on #301
@johnachor feel free to open a PR, @alaajerbi made a PR on their fork but hasn't made a PR here. Not sure what's going on, but this still needs to get done.

Maybe something for @MisterAwesome23 😉

[2019-02-13 05:22] EvaThil commented on #229
Me and a fellow student is doing a course in project development for our software engineering bachelor. We'd like to have a go at implementing a version of this functionality. Both creating new playlists as well as using the API to load existing YouTube ones as an alternative for continuous playing. Any pointers appreciated, especially additional requirements/wishes for the finished outcome. We ha

[2019-02-13 05:32] shakeelmohamed commented on #229
@EvaThil Very cool! Feel free to ping me on Gitter and we can find some time to chat more in depth about meeting the goals of your course.

There was a decent amount of work done in #291 but seems to have been abandoned, feel free to use that as a starting point.

[2019-02-13 05:36] shakeelmohamed opened #317 "Remove Keen from readme"
We only have 1 sponsor now, TrackJS - but our readme still mentions and shows a screenshot with Keen.

- [x] Remove Keen from sponsors sections at the bottom of the README (completed by #319)
- [x] Update the screenshot used in the README (completed by #320)

[2019-02-13 06:01] shakeelmohamed commented on #2
It's been nearly 4 years and no one has stepped up to out, so I'm closing this as a "won't fix". 😄

[2019-02-13 06:01] #2 closed

[2019-02-13 23:03] woosle1234 commented on #317
I'll update it, who are the current project sponsors?

[2019-02-13 23:47] woosle1234 commented on #317
https://github.com/zen-audio-player/zen-audio-player.github.io/pull/319

please review my pull request if I have solved the issue

[2019-02-27 19:08] #317 closed

[2019-05-10 12:32] ShivankSahai commented on #301
Hi. I would like to work on this issue. Is this issue still there?

[2019-05-10 18:18] shakeelmohamed commented on #301
@ShivankSahai go for it! Not sure why folks have been abandoning this :)

[2019-05-18 21:34] shakeelmohamed opened #321 "Functionality is totally broken"
I'm not sure exactly what's happened, but I think YouTube has made some API changes around CORS with the player widget.

TODO:
- [ ] Investigate & repurpose this issue

[2019-06-11 16:19] #301 closed

[2019-07-12 03:01] aarondchu commented on #222
is this feature still up for grabs? how is the progress going?

[2019-07-12 07:24] shakeelmohamed commented on #222
@aarondchu thanks for your interest, this is still up for grabs. Reading #231 and #258 would be a good starting point. Ping me if you have any questions

[2019-07-18 12:21] andy-shi88 commented on #321
At first, I thought this was caused by the `autoplay policy changes` issue, and later I found that in the `"ready"` flag, it's not showing the player.
Tried calling the `show` function and it works.

I'm not sure about the whole flow of this app, but is this the flow?
[code]
if this is it, then might be the autoplay policy update.
I'd be happy to work on this if it hasn't
@shakeelmohamed

[2019-07-18 12:26] andy-shi88 commented on #321
just confirm, tried to allow `autoplay` permission in firefox and it works.
I think we'll need to comply with the new policy and call `show()` even it's not on `playing` yet.

[2019-07-18 19:03] shakeelmohamed commented on #321
@andy-shi88 sounds great, please open a PR. You should be able to get it running locally w/ `npm start`

[2019-07-18 22:07] andy-shi88 commented on #321
PR opened @shakeelmohamed

[2019-09-18 02:14] jingwu21 commented on #229
Is this still open? If so I would like to have a go at implementing this feature.

[2019-09-18 19:12] shakeelmohamed commented on #229
@jingwu21 yes, although I'm not sure if the app is even functional right now. See #321

[2019-09-21 18:37] jingwu21 commented on #229
When I try to run the site locally it says the page isn't working and that the request is invalid.  Is that caused by the current problem or am I running it wrong?

[2019-09-22 17:47] shakeelmohamed commented on #229
@jingwu21 I think so. Can you share a screenshot, and any console messages?

[2019-10-03 19:55] ayush220 commented on #201
I have started working on this issue

[2019-10-05 00:16] k----n commented on #321
I think this issue also depends on the browser.

In firefox, there is no such issue.
However in chrome there are issues with displaying the player and @andy-shi88 suggested changes fixes it.

[2019-10-05 06:18] k----n opened #327 "Repeat track does not repeat when clicking towards end of song"
### Bug/issue:
- [x] Start playing the song
- [x] Activate the repeat track function
- [x] Click towards very end of the song
- [x] Song will not repeat

[2019-10-05 08:59] k----n commented on #222
Any updates? Is this up for grabs again?

[2019-10-05 09:01] k----n commented on #229
Is anybody working on this? I am also interested in developing this.

[2019-10-07 21:53] shakeelmohamed commented on #222
@k----n if the issue is open, it's up for grabs

[2019-10-10 21:10] pgoodbread commented on #222
I would like to take this, if possible.

[2019-10-23 18:59] abnazhor opened #331 "Clicking near focus button redirects to another url"
Trying the website https://zenplayer.audio/ I've found that there is an event that triggers when the user clicks on the div element instead of doing that only on the focus button. To test it you just have to click near the focus button to see how the url is redirected to what is supposed to be the url in the focus button.

I've tried it with the latest version of both Firefox and Chrome and the re

[2019-10-23 18:59] abnazhor commented on #331
I would love to work on this bug and fix it!

[2019-10-23 19:44] abnazhor commented on #331
#332

[2019-10-23 19:50] abnazhor commented on #331
Problem solved on #332 pull request.

[2019-10-24 01:55] #331 closed

[2019-10-24 21:55] abnazhor opened #335 "Sponsors isn't adjusted at 760x800 resolutions."
Currently sponsors are correctly aligned in all cases except when the resolution is around 760px. It looks something like this:
![imagen](https://user-images.githubusercontent.com/11428398/67528284-611a3180-f6b9-11e9-8723-4d506694157b.png)

[2019-10-24 21:55] abnazhor commented on #335
Also, I would love to work on this issue. Can I?

[2019-10-25 20:23] vandanmshah commented on #327
@shakeelmohamed I have started working on it...

[2019-10-25 21:51] shakeelmohamed commented on #335
@abnazhor please go ahead

[2019-10-26 00:11] k----n commented on #327
@vandanmshah Please look at my PR #328 first and see if it's fixed. I think it's been solved, but it just hasn't been really tested yet.

[2019-10-26 00:59] k----n commented on #229
The PR #336 solves half of this issue, but more work still needs to be done for a 'to-be-played' queue.

What's needed is the refactoring of the search functionality so that it does't reload the page and break continuity of the music playing. This can be achieved by replacing elements in the stage and using https://github.com/browserstate/history.js/ to manage the urls. Once that has been complete

[2019-10-26 01:18] vandanmshah commented on #327
@k----n Checked your fix and i am not sure this will work because actually the problem is once you end the player explicitly it loses the `timeupdate` EventListener, so after that this code is not going to execute, but will take your branch in local and will test it...

[2019-10-26 01:24] k----n commented on #1
If anybody is looking to implement this, https://codepen.io/onigetoc/pen/veWNbP is a good starting point for how to load and parse the playlist. I made a PR (#336 ) based on that code, and I think it wouldn't be that hard to also add in playlists to the playlist I created on PR #336 .

[2019-10-26 02:06] k----n commented on #327
@vandanmshah Okay, I see what you mean. I added something for the 'ended' EventListener and enabled/disabled plyr's 'loop' option, and it seems to sort of fix it. I feel like some of the code isn't needed though...

What's not working now is that when you try to reproduce this bug, the play/pause doesn't update sometimes.

Let me know how your fix goes, interested in knowing what the outcome is!

[2019-10-26 13:15] vandanmshah commented on #327
@k----n  Okay i also did same thing now this will work you can carry on with this fix... I am closing my PR...

Thanks...

[2019-10-26 15:07] vandanmshah commented on #327
@k----n  I will look into it if you want?

[2019-10-26 15:31] k----n commented on #327
@vandanmshah Please do! I haven't really looked into why the play/pause button doesn't update.

Maybe submit a PR to my branch? https://github.com/k----n/zen-audio-player.github.io/tree/repeat-fix

[2019-10-29 22:25] abnazhor commented on #335
@shakeelmohamed Done!

[2019-12-12 04:56] shakeelmohamed opened #343 "Remove CNAME file"
We need to delete the CNAME file once the domain expires in Jan 2020, the renewal cost went up 10x to $133.70 and I cannot justify paying that much for it.

[2019-12-14 16:07] myungwoo-Y opened #344 "The size of the input window and the search button are different at 475x625."
The size of the input window and the search button are different at 475x625.
It looks better to align the inputs and buttons.

This is a screenshot about the issue :

![이미지 12](https://user-images.githubusercontent.com/38170596/70851322-03df7700-1ed7-11ea-89fb-ec06ffcd246e.jpg)

[2019-12-14 16:07] myungwoo-Y commented on #344
Also, I would love to work on this issue. Can I?

[2019-12-15 22:21] eel87 commented on #343
@shakeelmohamed If I understand correctly, do you simply want this file deleted?  I can do that for you!

[2019-12-16 05:35] shakeelmohamed commented on #343
@eel87 please do, go for it. I'll just merge it ASAP since the domain expires on Jan 17

[2019-12-16 05:36] shakeelmohamed commented on #344
@myungwoo-Y thanks for the bug report, go ahead and make a PR!

[2019-12-16 15:28] eel87 commented on #343
@shakeelmohamed okay I will submit the PR .  I got this error when testing - I just want to make sure this doesn't matter:
[code]

[2019-12-16 19:46] #343 closed

[2019-12-16 19:47] shakeelmohamed commented on #343
@eel87 yeah the tests passed in CI just fine, no need to worry about that windows pathing. Thanks for the PR

[2019-12-18 09:39] myungwoo-Y commented on #344
Thanks for merging!

[2019-12-18 09:41] #344 closed

[2020-04-13 19:34] lcpunch commented on #222
Is this issue still open? Where are you guys at #329 ?

[2020-04-13 19:36] shakeelmohamed commented on #222
@lcpunch go for it, there's been no activity on this project lately 👍

[2020-04-14 06:37] k----n commented on #222
@lcpunch @shakeelmohamed

I implemented autoplay the next related video in this PR: https://github.com/zen-audio-player/zen-audio-player.github.io/pull/329

Not sure if it's mergeable?

[2020-04-14 13:30] lcpunch commented on #222
@k----n @shakeelmohamed , I just tested it and it works. The only problem that I see  is when the autoplay is activated it "breaks" the line.

![image](https://user-images.githubusercontent.com/6640213/79229704-7a629600-7e31-11ea-9bab-594babac1ff4.png)

I could fix that by adjusting the container class from min-width: 450px to 470px.

[2020-04-14 16:57] shakeelmohamed commented on #222
@lcpunch ok, we can make the container wider, that should be fine

[2020-06-25 12:38] SimonRosengren commented on #327
Is this still an issue? It only seems to happen if you fast forward to the very last second of the file at the moment. Was this always the issue?

[2020-06-25 19:13] shakeelmohamed commented on #327
@SimonRosengren I guess that's the bug, it only happens when clicking near the end of the track. can you help test #328?

[2020-07-21 05:25] AT1452 commented on #229
Is this issue still up for grabs?

[2020-07-21 06:09] k----n commented on #229
@AT1452 IIRC, the search functionality of PR #336 solves half the issue. The 'to-be-played' queue hasn't been implemented yet.

[2020-08-18 23:24] ryekerjh commented on #222
@lcpunch is this one resolved?

[2020-08-18 23:26] ryekerjh commented on #229
@AT1452 @k----n have either of you started tackling the `to-be-played` queue yet?

[2020-08-18 23:35] k----n commented on #229
@ryekerjh No. But it appears to me that major refactoring of the search needs to happen to get it to work.

[2020-08-18 23:37] ryekerjh commented on #229
Gotcha. I will leave this one to cool off a bit and check back in in a bit to see if that major refactor has taken place. Thanks for the speedy response!

[2020-08-30 07:12] Ayushbajpai19 commented on #204
I think we can extract only audio from youtube and then add https://github.com/MrAnyone/YouTube-Audio-Visualizer and then display it, also I would really like to contribute to the issues mentioned here, can u guide me through the process?

[2020-09-03 18:02] shakeelmohamed commented on #204
@Ayushbajpai19 what guidance are looking for?

[2021-01-26 08:42] shakeelmohamed commented on #335
Closed with #338

[2021-01-26 08:42] #335 closed

[2021-07-11 00:38] adetyaz commented on #201
Hey everyone, first time contributor here. How can I start and what needs to be done.

[2021-07-12 21:47] shakeelmohamed commented on #201
@adetyaz hello and welcome! Take a look the checklist at the top of this thread, let me know if you need clarification on any of those tasks

You can take a look through the [wiki](https://github.com/zen-audio-player/zen-audio-player.github.io/wiki) to see what we've got so far

[2021-07-14 07:39] adetyaz commented on #201
Thanks @shakeelmohamed , I'll dive into that and let you know when I need any help.

[2021-09-09 18:18] shakeelmohamed commented on #321
AFAIK this is "bug" no longer exists

[2021-09-09 18:18] #321 closed

[2021-09-09 18:20] shakeelmohamed opened #374 "Add shortcuts for "community favorites""
We currently have a "focus" button for binaural beats, we can generalize this concept to include others.

e.g.: Lofi girl, "permalink" to https://www.youtube.com/watch?v=5qap5aO4i9A&ab_channel=LofiGirl

Maybe adding timed sessions as well? e.g.: focus for 30 mins / 60 mins

[2021-10-19 04:48] shakeelmohamed opened #382 "GitHub icon is not centered horizontally"
An easy fix is to add this CSS rule, there may be a less hacky way though.

[code]

See the screenshot from Safari on macOS 11.6
<img width="470" alt="Screen Shot 2021-10-18 at 9 45 02 PM" src="https://user-images.githubusercontent.com/1480063/137845810-b4966199-632d-46a9-ac80-c77b0d6ad9f9.png">

[2021-10-19 05:50] shakeelmohamed commented on #382
@Dhruvsinghjadon thanks, assigned

[2021-10-19 16:37] anjannair commented on #382
I have finished working on this issue will be putting a PR in a few minutes

[2021-10-21 04:07] #382 closed

[2021-12-16 05:38] naomiceron commented on #374
Hello! I would like to give this issue a try, could you assign it to me? :)

[2022-10-06 14:59] warriorBunny013 opened #394 "adding dark theme"

[2022-10-07 13:03] santhos-13 commented on #394
Hi @shakeelmohamed is this still open ? can i work on it?

[2022-10-07 13:08] santhos-13 commented on #394
Hi @shakeelmohamed is this still open. Can i work on it?

[2022-10-07 13:45] santhos-13 opened #400 "Adding navbar and improving UI"
- adding a navbar
- making the main page as single static page
          *because scrollable page is not looking good*
-improving UI
          *adding colours and new fonts*
          *adding dark mode*

[2022-10-07 13:47] santhos-13 commented on #400
Hi @shakeelmohamed, I want to contribute to this project. can you assign me for this issue

[2022-10-07 13:56] santhos-13 opened #401 "Adding a feature "Favourites" and authentication"
"Favourites" feature enable user to play songs handily.
Authentication is to provide "Favourites" to the respective users.

We ask the user to Register/Login when they want to access the Favourites feature.

else no need

[2022-10-07 13:57] santhos-13 commented on #401
Hi @shakeelmohamed, This is my first Hacktoberfest. i want to contribute to this project. Can you guide?

[2022-10-08 05:25] shakeelmohamed commented on #394
I will defer to @warriorBunny013

[2022-10-08 05:27] shakeelmohamed commented on #401
Hi @santhos-13, I would look at some of the prior work done for #1 and the incomplete PR #385

[2022-10-08 05:42] santhos-13 commented on #400
Hi @shakeelmohamed can u add Hacktoberfest label to this issue. So that my contribution will count for the Hacktoberfest '22. Thank You

[2022-10-08 06:04] warriorBunny013 commented on #394
@shakeelmohamed please assign this issue to me. I want to work on it

[2022-10-08 10:53] Akshata-Gunapache opened #402 "Redesign the README.md file"
### When you open an issue for a change/improvement/feature request:
- [x] A description of the problem you're trying to solve, including _why_ you think this is a problem
- [ ] If the feature changes current behavior, reasons why your solution is better
- [ ] \(optional) Possible solution/fix/workaround

I would like to modify the readme and make it look prettier and more attractive.

[2022-10-08 10:54] Akshata-Gunapache commented on #402
I am an hacktoberfest 2022 participant. Could you please assign this issue to me?

[2022-10-08 11:35] Akshata-Gunapache opened #404 "Fix the known vulnerabilities badge"
I can fix this badge that is giving an error.

![image](https://user-images.githubusercontent.com/96786500/194705409-057a4a34-a63c-4b1c-95b4-be53cc0f2538.png)

[2022-10-08 16:25] Omkar0803 commented on #222
Is the issue solved?

[2022-10-09 23:28] shakeelmohamed commented on #222
@Omkar0803 hi, please go ahead. It may take me a while to review the PR, however.

[2022-10-09 23:29] shakeelmohamed commented on #394
@warriorBunny013 hi, see #405. Can you help review the PR? Feel free to make recommendations there if you have any

[2022-10-09 23:29] Omkar0803 commented on #222
Can you assign this issue to me

[2022-10-11 19:34] etroo44 commented on #204
Hello, is this issue still open?

[2022-10-12 01:19] santhos-13 commented on #400
@shakeelmohamed can you give href for twitter and facebook. i will add social media icons also

[2022-10-12 13:51] santhos-13 commented on #400
Hi @shakeelmohamed , i gave a pull request #406 now. Kindly check that. if you want to add something more, will do that.

[2022-10-12 17:14] shakeelmohamed commented on #204
@etroo44 hello, yes it is

[2022-10-12 17:17] shakeelmohamed commented on #400
Hi @santhos-13, thanks for the PR. However we don’t have social media accounts for this project.
I don’t need to link up all of my personal socials.

[2022-11-19 02:14] #404 closed